<div class="window" ng-show="showDialog">
    <div class="frame">
        <div class="title">Login <span class="note">or <a class="js-popup" href="#" data-wid="registration">Create account</a></span></div>
        <div class="content">
            <div class="d-table w100p">
                <div class="d-table-row">
                    <div class="d-table-cell" style="width: 48%">
                        <div class="btn violet hover w100p js-fb_login">Facebook</div>
                    </div>
                    <div class="d-table-cell" style="width: 4%">&nbsp;</div>
                    <div class="d-table-cell" style="width: 48%">
                        <div class="btn violet hover w100p js-gl_login" onclick="GOOGLE_login()">Gmail / Google+</div>
                    </div>
                </div>
            </div>
            <div class="hr with-title"><span class="hr-title">or</span></div>
            <form class="js-form-ajax" method="post" action="/users/login">
                <div class="form-item">
                    <input class="w100p" name="login" placeholder="Email" required>
                </div>
                <div class="form-item">
                    <input class="w100p" name="password" type="password" placeholder="Password" required>
                </div>
                <div class="form-item form-item-submit text-center">
                    <input class="btn violet" name="submit-auth" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
    <div class="close"></div>
</div>
<script>
    $('#js-window__auth form').ajaxForm(
        function() {
            window.location = window.appGlobals.afterLoginUrl || window.location;
        },
        function() {
            alert('Wrong email or password');
            //console.log(arguments);
        }
    )
</script>
