<div class="modal-dialog modal-dialog_payment-type" ng-controller="paymentController as paymentCtrl">
    <div class="modal-dialog-title">
        <span class="title-text">Choose payment type</span>
        <popup-close ng-hide="paymentCtrl.processing"></popup-close>
    </div>
    <div class="modal-dialog-body">
        <p>One more click to purchase:</p>
        <p class="payment-with-top-option f12 for-vectors-without-top">
            Please note: Top View is not ready so you will get 3-views blueprint now and 4-views blueprint in 1-{{paymentCtrl.daysMax}} work days.
        </p>
        <br/>
        <p>
            <a class="btn w100p invert-colors" href="/payments/buy/vector/{{paymentCtrl.vectorId}}?webProfile=login"
               ng-click="paymentCtrl.processing ? $event.preventDefault() : paymentCtrl.pay('paypal');"
               ng-disabled="paymentCtrl.processing" rel="nofollow">
                <loader ng-if="paymentCtrl.paymentType === 'paypal'"></loader>
                <span ng-hide="paymentCtrl.paymentType && paymentCtrl.paymentType === 'paypal'">PayPal</span>
            </a>
        </p>
        <p>
            <a class="btn w100p" href="/payments/buy/vector/{{paymentCtrl.vectorId}}?webProfile=billing"
               ng-click="paymentCtrl.processing ? $event.preventDefault() : paymentCtrl.pay('cc');"
               ng-disabled="paymentCtrl.processing" rel="nofollow">
                <loader ng-if="paymentCtrl.paymentType === 'cc'"></loader>
                <span ng-hide="paymentCtrl.paymentType && paymentCtrl.paymentType === 'cc'">Debit/Credit Card</span>
            </a>
        </p>
        <p class="f12">Pay with PayPal or directly with your Visa, MasterCard, AmEx and other cards WITHOUT creating
            a PayPal account. For this use "Debit/Credit Card" button and "Checkout as a Guest” option.</p>
    </div>
</div>
