<div class="window" id="js-window__reg_main">
    <div class="frame">
        <div class="title">Create account <span class="note">or <a class="js-popup" href="#" data-wid="auth">Login</a></span></div>
        <div class="content">
            <div class="d-table w100p msg"></div>
            <div class="d-table w100p">
                <div class="d-table-row">
                    <div class="d-table-cell">
                        <div class="btn violet hover w100p js-gl_reg">Gmail / Google+</div>
                    </div>
                </div>
                <div style="font-size: 12px; margin-top: 8px;">
                    <span class="text-color-note">By pressing this button you accept our
                        <a style="color: inherit;" href="https://getoutlines.com/terms-of-gmail" target="_blank">
                            terms and conditions
                        </a>
                    </span>
                </div>
            </div>
            <div class="hr with-title"><span class="hr-title">or</span></div>
            <div class="d-table w100p" style="margin-bottom: 10px;">
                <div class="d-table-row">
                    <div class="d-table-cell">
                        <div class="btn violet w100p" onclick="window.windows.open('reg_fb');">
                            Facebook</div>
                    </div>
                </div>
            </div>
            <div class="d-table w100p">
                <div class="d-table-row">
                    <div class="d-table-cell">
                        <div class="btn violet w100p" onclick="window.windows.open('reg_email');">
                            Other email</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="close"></div>
</div>
