<div class="window" id="js-window__reset_pass_2">
    <div class="frame">
        <div class="title">Enter new password</div>
        <div class="content">
            <div class="note" style="margin-bottom: 16px;">Enter your new password.</div>
            <form method="post" action="/users/reset">
                <input id="resetPassUserID" type="hidden" name="reset[id]">
                <div class="form-item">
                    <input class="w100p" name="reset[password]" type="password"
                           pattern="[a-zA-Z0-9]{6,}"
                           placeholder="Password*" required>
                    <label class="f12 text-color-note">Password must be at least 6 characters long</label>
                </div>
                <div class="form-item">
                    <input class="w100p" name="confirm-password" type="password"
                           pattern="[a-zA-Z0-9]{6,}"
                           placeholder="Re-type password*" required>
                </div>
                <div class="form-item form-item-submit text-center">
                    <input class="btn violet" name="submit-auth" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
    <div class="close"></div>
</div>
<script>
    $('#js-window__reset_pass_2').find('form').ajaxForm(
            function() {
                location.assign('/');
            },
            function(a) {
                let x = JSON.parse(a.responseText);
                console.log(a.responseText);
                alert(x.error);
            }
    )
</script>