<form method="post">
    <p>
        <label>Выбранный запрос:</label>
        <span>{$ar[full_name]}. <a href="{Prints::createUrlForItem($ar, Prints::REQUEST_VECTOR)}" target="_blank">Просмотр на сайте</a> </span>
    </p>

    <p>
        <label>Привязать к вектору c ID:</label>
        <span>
            <input name="vector_id" value="{if isset($vector)}{$vector[id]}{end}">
        </span>
    </p>

    {if isset($vector)}
    <p>
        Внимание! Данный запрос уже привязан к вектору <{$vector[id]}> {$ar[name]}
    </p>
    {end}
</form>