<style>
    fieldset input, fieldset select {
        max-width: 180px;
    }
    .info {
        color: #aa1111;
        font-weight: 700;
        padding-bottom: 16px;
    }
    .fake_email{
        color: #aaa;
    }
</style>
<form action="{$url}" method="POST">
    <div class="info">
        Отказ делать запрос №{$request[id]}, название "{$request[full_name]}". <a target="_blanks" href="{Prints::createUrlForItem($request, Prints::REQUEST_VECTOR)}"> Просмотр запроса на сайте</a>
    </div>
    {if isset($users)}
    <div>
        <input type="checkbox" name="email" checked>
        <label>отправить уведомление пользователям:</label>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                {if $admin}
                <th>Email</th>
                {end}
                <th>Type</th>
                <th>Date</th>
                <th>Template</th>
            </tr>
            </thead>
            <tbody>
            {foreach $users as $ar}
            <tr {if !$ar[real_email]}class="fake_email"{end}>
                <td>{$ar[id]}</td>
                <td>{$ar[name]}</td>
                {if $admin}
                <td>{$ar[email]}</td>
                {end}
                <td>{$ar[user_type]}</td>
                <td>{$ar[dt]}</td>
                <td>{$ar[tmp][fr]}</td>
            </tr>
            {end}
            </tbody>
        </table>
    </div>
    <br>
    {end}
    <p>
        <input type="submit" name="submit" value="Выполнить"/>
    </p>
</form>
