<h3>Регистрационные данные</h3>
<table class="ruler">
    <tbody>
    {foreach $user as $key=>$value}
    <tr>
        <td>{$key}</td>
        {if (($key == 'login') && ($user[user_type] == 'facebook'))}
        <td><a href="https://facebook.com/{$value}" target="_blank">{$value}</a></td>
        {elseif (($key == 'email') && $value)}
        <td><a href="mailto:{$value}" target="_blank">{$value}</a></td>
        {else}
        <td>{$value}</td>
        {end}
    </tr>
    {end}
    </tbody>
</table>

{if isset($payment)}
<h3>Покупки</h3>
<table class="ruler">
    <thead>
    <tr>
        <th>Vector ID</th>
        <th>Status</th>
        <th>Date</th>
        <th>Purchase name</th>
        <th>$</th>
    </tr>
    </thead>
    <tbody>
    {foreach $payment as $ar}
    <tr>
        <td>{$ar[purchase_id]}</td>
        <td>{if ($ar[status] == 'approved')}ok{else}fail{end}</td>
        <td>{$ar[datetime]}</td>
        <td>{$ar[purchase_name]}
            &nbsp;&nbsp;<a href="/administrator/prints/?section=vector&action=view&id={$ar[purchase_id]}" target="_blank">view</a>
        </td>
        <td>{$ar[price]}</td>
    </tr>
    {end}
    </tbody>
</table>
{else}
<h3>Покупок нет</h3>
{end}

{if isset($requests)}
<h3>Запросы</h3>
<table class="ruler">
    <thead>
        <tr>
            <th>Request ID</th>
            <th>Date</th>
            <th>Full name</th>
            <th>Vector ID</th>
        </tr>
    </thead>
    <tbody>
        {foreach $requests as $ar}
        <tr>
            <td>{$ar[id]}</td>
            <td>{$ar[request_date]}</td>
            <td>{$ar[full_name]}</td>
            <td>{$ar[vector_id]}</td>
        </tr>
        {end}
    </tbody>
</table>
{else}
<h3>Запросов нет</h3>
{end}

{if isset($vote)}
<h3>Голоса</h3>
<table class="ruler">
    <thead>
    <tr>
        <th>Request ID</th>
        <th>Date</th>
        <th>Full name</th>
        <th>$</th>
    </tr>
    </thead>
    <tbody>
    {foreach $vote as $ar}
    <tr>
        <td>{$ar[request_id]}</td>
        <td>{$ar[vote_datetime]}</td>
        <td>{$ar[full_name]}</td>
        <td>{if ($ar[want_pay] == 1)}yes{end}</td>
    </tr>
    {end}
    </tbody>
</table>
{else}
<h3>Голосов нет</h3>
{end}
