<table class="ruler">
    <thead>
    <tr>
        <th class="w250">Название</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th colspan="3"><a href="?section=groups&action=add" class="add inline-block w100p"></a></th>
    </tr>
    </tfoot>
    <tbody>
    {foreach $res as $key=>$ar}
    <tr>
        <td><a href="?section=groups&action=edit&id={$ar[id]}"
               title="Редактировать">{$ar[name]}</a>
        </td>

        <td>
            <a href="?section=groups&action=edit&id={$ar[id]}" class="inline-block edit"
               title="Редактировать"></a>
            <a href="?section=groups&action=delete&id={$ar[id]}" class="inline-block delete"
               title="Удалить"></a>
            <a href="?section=groups&action=add&id={$ar[id]}" class="inline-block copy"
               title="Копировать"></a>
        </td>
    </tr>
    {end}
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(
            function () {
                $('table .delete').click(
                        function () {
                            if (confirm('Вы уверены?')) {
                                $.get($(this).attr('href'));
                                $(this).parent().parent().remove();
                            }
                            return false;
                        }
                );
            }
    );
</script>