<?php
        $type_voc = array(
            'blueprint' => 'Чертежи',
            'vector' => 'Вектора',
            'request' => 'Запросы',
            'report' => 'Отчеты об ошибках',
            'tag' => 'Тэги'
        );
        $action_voc = array(
            'add' => 'Добавление',
            'edit' => 'Обновление',
            'delete' => 'Удаление',
            'done' => 'Выполнение',
            'approved' => 'Подтверждение',
            'rejected' => 'Отклонение',
        );

?>
<form action="{$url}" method="get">
Пользователь: <select name="user_id">
    <option value="">все</option>
{foreach $editors as $id=>$editor}
    <option value="{$id}"{if $id == $userId} selected{end}>{$editor}</option>
{end}</select>

Дата: <select name="date" >
    <option value="">все</option>
    {for $i=0 to 6}
    {eval $d=date('Y-m-d', time() - $i * 60*60*24)}
    <option value="{$d}"{if $d == $date} selected{end}>{noxDate::toDate($d)}</option>
    {end}
    </select>
    <input type="submit" value="Применить" />
    <input type="submit" value="Очистить" onclick="$(this).parent().find('select').val('');" />
</form>

{if $pagesCount>1}
<div class="pages">
    {if $pagesCount<=10}
    {for $i=1 to $pagesCount}
    <a href="?user_id={$userId}&amp;date={$date}&amp;page={$i}"{if $i==$page} class="active"{end}>{$i}</a>
    {end}
    {else}
    <a href="?user_id={$userId}&amp;date={$date}&amp;page=1"{if 1==$page} class="active"{end}>1</a>
    ...
    <?php for ($i=max(1, $page-4); $i <= min($page+4, $pagesCount); $i++) { ?>
    <a href="?user_id={$userId}&amp;date={$date}&amp;page={$i}"{if $i==$page} class="active"{end}>{$i}</a>
    {end}
    ...
    <a href="?user_id={$userId}&amp;date={$date}&amp;page={$pagesCount}"{if $pagesCount==$page}
    class="active"{end}>{$pagesCount}</a>
    {end}
</div>
{end}

<table class="hover w100p text-center">
    <thead>
    <tr>
        <th>Дата</th>
        <th>Пользователь</th>
        <th>Действие</th>
        <th>Пункт</th>
    </tr>
    </thead>
    <tbody>
    {foreach $res as $ar}
    <tr>
        <td>{noxDate::toTimeDate($ar[date])}</td>
        <td><a href="/administrator/log?user_id={$ar[user_id]}" title="Действия пользователя {htmlspecialchars($users[$ar[user_id]])}">{htmlspecialchars($users[$ar[user_id]])}</a></td>
        <td>
            {if isset($action_voc[$ar[action]])}
            {$action_voc[$ar[action]]}
            {else}
            {$ar[action]}
            {end}
            в разделе "{$type_voc[$ar[type]]}"
        </td>
        <td class="text-left">{$items[$ar[type]][$ar[item_id]]}</td>
    </tr>
    {end}
    </tbody>
</table>

{if $pagesCount>1}
<div class="pages">
    {if $pagesCount<=10}
    {for $i=1 to $pagesCount}
    <a href="?user_id={$userId}&amp;date={$date}&amp;page={$i}"{if $i==$page} class="active"{end}>{$i}</a>
    {end}
    {else}
    <a href="?user_id={$userId}&amp;date={$date}&amp;page=1"{if 1==$page} class="active"{end}>1</a>
    ...
    <?php for ($i=max(1, $page-4); $i <= min($page+4, $pagesCount); $i++) { ?>
    <a href="?user_id={$userId}&amp;date={$date}&amp;page={$i}"{if $i==$page} class="active"{end}>{$i}</a>
    {end}
    ...
    <a href="?user_id={$userId}&amp;date={$date}&amp;page={$pagesCount}"{if $pagesCount==$page}
    class="active"{end}>{$pagesCount}</a>
    {end}
</div>
{end}
