{if ($ext=='jpg') or ($ext=='png') or ($ext=='ico') or ($ext=='bmp')}
<img src="{$url}" alt=""/>
<p>Извините, но для изображений доступен только просмотр.</p>
{else}
<style type="text/css">
    .CodeMirror {
        border: 1px solid #eee;
    }

    .CodeMirror-scroll {
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
        width: 100%;
    }
</style>
<form action="/administrator/filemanager?action=edit&path={urlencode($url)}" method="post">
    <p><span><input type="submit" name="save" value="Сохранить"/></span></p>
    <textarea name="text" class="code-editor" rows="40" id="code">{htmlspecialchars($text)}</textarea>

    <p><span><input type="submit" name="save" value="Сохранить"/></span></p>
</form>
<script type="text/javascript">
    $(document).ready(
            function () {
                var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                    lineNumbers:true,
                    lineWrapping: true,
                    matchBrackets:true,
                    mode:"{$mime}",
                    indentUnit:4,
                    indentWithTabs:true,
                    tabMode:"shift"
                });
            }
    );
</script>
{end}