<form action="{$url}" method="POST">

    <input type="hidden" name="id" value="{$ar[id]}"/>

    <p>
        <span><input type="submit" name="submit" value="Сохранить" /></span>
    </p>

    <p>
        <label>Активность</label>
        <span>{noxForm::getRadioButtons('new[enabled]', $ar[enabled])}</span>
    </p>

    <p>
        <label>Файл / ссылка</label>
        <span><input type="text" name="new[filename]" value="{htmlspecialchars($ar[filename])}" class="file-editor" /></span>
    </p>

    <p>
        <span><input type="submit" name="submit" value="Сохранить" /></span>
    </p>

</form>