<div class="pre-content">
    <div class="container_12">
        <h1 class="caption">{$caption}</h1>
    </div>
</div>
<div class="content">
    <div class="container_12">
        <div class="grid_3 grid_first">
            <h3>Purchase Questions:</h3>
            <!--noindex-->
            <p>Please <a target="_blank" href="mailto:hello@getoutlines.com?subject=Purchase Question">Contact us</a>
                if you have any questions about your purchase:</p><br/>
            <!--/noindex-->
            <p>&#9679; <b>If you have not received your purchased item</b></p>
            <p>&#9679; Get an invoice / receipt</p>
            <p>&#9679; Check your Pre-order status</p>
            <p>&#9679; Report mistakes in your purchased item</p>
            <p>&#9679; Refund</p>
            <p>&#9679; Need alternative payment method</p>
            <p>&#9679; Order additional options</p>
            <p>&#9679; Bulk Purchase</p>
            <p>&#9679; Other purchase questions</p>
            <div class="hr"></div>
            <h3>General Questions:</h3>
            <!--noindex-->
            <p><a target="_blank" href="mailto:hello@getoutlines.com?subject=General Question">Contact us</a>
                for any general questions:</p><br/>
            <!--/noindex-->
            <p>&#9679; Get our help using Outlines</p>
            <p>&#9679; Report any bug or problem on the website</p>
            <p>&#9679; Suggest any ideas and new features</p>
            <p>&#9679; Partnership proposal</p>
            <p>&#9679; Other general questions</p>
        </div>
        <div class="grid_9">
            <h3>Downloads</h3>
            {if isset($purchases)}
                {eval $i = 0}
                {foreach $purchases as $v}
                <div class="grid_4{if $i%3 === 0} grid_first{end}">
                    {eval $i++; $waitTop = $v[ready] ? '' : 'waitTop';}
                    {printsVectorModel::viewVectorPreviewPurchased($v, false, $waitTop)}
                    <p style="padding-bottom: 6px">&nbsp;</p>
                </div>
                {end}
            {else}
            <div class="bordered">
                <div>
                    You have not purchased any items. Start browsing vector blueprints.
                </div>
                <p>&nbsp;</p>
                <div class="text-center ">
                    <a class="btn btn-active" href="/vector-drawings">Vector drawings</a>
                </div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            {end}
        </div>
    </div>
</div>