_modal_w = 400px
_form_w = 300px
_menu_w = 240px
_card_w = 350px
_inp_s = 16px
_fa_btn_w = 24px

_img_w_micro = 36px
_img_w_mini = 100px
_img_w_midi = 140px
_img_w_maxi = 200px

_black_color = #000
_dark_color = #333
_gray_color = #999
_light_color = #ccc
_white_color = #fff
_dark_oper_color = #66b
_bright_oper_color = #33b
_light_oper_color = #ccf
_back_warn_color = #fee
_dark_warn_color = #f00
_light_warn_color = #fcc
_back_ok_color = #efe
_dark_ok_color = #0f0
_light_ok_color = #cfc
_back_hint_color = #f8f8f8
_dark_hint_color = #ccc

_fa_v = '4.7.0'
_fa_src = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/' + _fa_v + '/fonts/fontawesome-webfont.'

_shadow_card = 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19)
_shadow_btn = 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
