<div class="pre-content">
    <div class="container_12">
        <div class="grid_9 grid_first">
            <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs">
                {foreach $breadcrumbs as $index=>$crumb}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="{$crumb[url]}" title="{$crumb[title]}" class="crumb"><span itemprop="name">{$crumb[name]}</span></a>
                    <meta itemprop="position" content="{$index+1}" />
                </li>
                {end}
            </ol>
            <h1 class="caption">{$caption}</h1>
        </div>
        <div class="grid_3"></div>
    </div>
</div>
<div class="content">
    <div class="container_12">
        <div class="grid_3 grid_first js_column-scroll">
            <div id="sc" data-os="150" class="scroll-wrapper">
                <h3>Search:</h3>
                <p>Fill one or few filters to search</p>
                <form method="get" action="{$url}">
                    <div class="search-form-block">
                        <input type="hidden" name="search[category]" value="{$category[id]}">
                        {if $subCategoryName}<input type="hidden" name="search[{$subCategoryName}]" value="{$subCategory[id]}">{end}
                        <div class="form-item">
                            <input class="input js-input-requires" name="search[name]" placeholder="Name" value="{if isset($search[params][name])}{$search[params][name]}{end}" required>
                        </div>
                        <div class="form-item">
                            <input class="input js-input-requires" name="search[year]" placeholder="Year" value="{if isset($search[params][year])}{$search[params][year]}{end}">
                        </div>
                        <div class="form-item">
                            <input class="btn invert-colors" type="submit" name="search-submit" value="Search">
                        </div>
                    </div>
                </form>
                <div class="hr"></div>
                <div data-ng-include="'/nox-themes/default/templates/app/need-request.html'"></div>
                <div class="hr"></div>
                {Prints::HTML_ICON_VECTOR}
                <p>Purchase and download these ready editable premium blueprints and scalable drawings.</p>
                <br/>
                {Prints::HTML_ICON_PREPAY}
                <p>These items are approved to be made after your pre-order. Make payment and get this vector
                    blueprint in 1-{noxSystem::$prepayMaxDays} work days.</p>
                <br/>
                {Prints::HTML_ICON_VECTOR_REQUEST}
                <p>Created by users, request means that we have not estimated price and feasibility to make it.
                    Press <b>Want to buy vector</b> and we make a prepay quotation for you.</p>
            </div>
            &nbsp;
        </div>
        <div id="mc" class="grid_6">
            {if isset($search)}
            <h3 class="inline-block">Search Results in {$sectionMainName}.</h3>&nbsp;&nbsp;<a href="{noxSystem::$actionUrl}">Show all {$sectionMainName} blueprints</a>
            <table>
                <thead>
                    <tr>
                        <th class="w16">&nbsp;</th>
                        <th class="text-left">Model</th>
                        <th class="text-center" style="width: 60px;">Views</th>
                    </tr>
                </thead>
                <tbody class="pointer">
                {foreach $search[result] as $ar}
                    <tr>
                        <td class="copyright"></td>
                        <td>
                            <a class="link__color-default link__undecoration display-block" href="{$ar[url]}" title="{$ar[title]} blueprints">
                                {$ar[title]}&nbsp;{$ar[tag]}
                            </a>
                        </td>
                        <td class="text-center">
                            {Views::getViewsInHtml($ar[data][views])}
                        </td>
                    </tr>
                {end}
                </tbody>
            </table>
            {else}
            <table>
                <thead>
                    <tr>
                        <th class="w16">&nbsp;</th>
                        <th class="text-left">Model</th>
                        <th class="text-center" style="width: 60px;">Views</th>
                    </tr>
                </thead>
                <tbody>
                {foreach $blueprints as $id=>$bp}
                <tr>
                    <td class="copyright"></td>
                    <td>
                        <a class="link__color-default link__undecoration display-block" href="<?=Prints::createUrlForItem($bp, $bp[type]);?>" title="{$bp[full_name]} {$bp[seo]}">
                            {$bp[full_name]}&nbsp;{$bp[tag]}
                        </a>
                    </td>
                    <td class="text-center">
                        {if !empty($bp['views'])}
                        {Views::getViewsInHtml($bp['views'])}
                        {end}
                    </td>
                </tr>
                {end}
                </tbody>
            </table>
            {end}
            <p>&nbsp;</p>
            <h3>Can't find the right blueprint?</h3>
            <p style="padding-bottom: 8px">Just request it now and get in a few days!</p>
            <p>
                <a class="btn btn-active" href="/requests">Request {$subCategory[name]} blueprint</a>
            </p>
        </div>
        <div id="rc" class="grid_3">
            <h3>Best drawings for you:</h3>
            {eval $c = count($relVectors)}
            {eval $ii = 1}
            {foreach $relVectors as $v}
            {printsVectorModel::viewVectorPreview($v)}
            {if $ii < $c}<p>&nbsp;</p>{end}
            {eval $ii++}
            {end}
        </div>
    </div>
</div>
