<div class="pre-content">
    <div class="container_12">
        <div class="grid_8 grid_first">
        <div class="caption">
            <h1 class="inline-block">{$caption}</h1>
        </div>
        <br>
        <div style="font-size: 18px;">{$details}</div>
        <br/>
        </div>
    </div>
</div>
<div class="content">
    <div class="container_12">
        <br>
        <br>
        <div class="grid_3 grid_first js_column-scroll">
            <div id="sc" data-os="320" class="scroll-wrapper">
                <h3>Complete this collection</h3>
                <p>Support this collection. Order some of not ready items and help Outlines community to complete
                    this collection of cars.</p>
                <div class="hr"></div>
                {Prints::HTML_ICON_VECTOR}
                <p>Purchase and download these ready editable premium blueprints and scalable drawings.</p>
                <br/>
                {Prints::HTML_ICON_PREPAY}
                <p>These items are approved to be made after your pre-order. Make payment and get this vector
                    blueprint in 1-{noxSystem::$prepayMaxDays} work days.</p>
            </div>
            &nbsp;
        </div>
        <div id="mc" class="grid_9">
            {eval $i = 0}
            {foreach $vectors as $v}
            <div class="grid_4{if $i%3 === 0} grid_first{end}">
                {eval $i++}
                {printsVectorModel::viewVectorPreview($v, $seoUrl[typeUrl])}
                <p style="padding-bottom: 6px">&nbsp;</p>
            </div>
            {end}
        </div>
    </div>
</div>
