<div class="pre-content">
    <div class="container_12">
        <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs">
            {foreach $breadcrumbs as $index=>$crumb}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{$crumb[url]}" title="{$crumb[title]}" class="crumb"><span itemprop="name">{$crumb[name]}</span></a>
                <meta itemprop="position" content="{$index+1}" />
            </li>
            {end}
        </ol>
        <div class="caption"><h1 class="inline-block">{$caption}</h1>
            {if ($category[url] == 'car') && !empty($subCategory)}<a class="small color-cyan" href="/{$category[url]}-blueprints/{$subCategory[url]}" title="{$subCategory[name]} blueprints free and free drawings">All {$subCategory[name]} blueprints</a>{end}</div>
    </div>
</div>
<div class="content bg-grey">
    <div class="container_12">
        <div class="grid_6 grid_first">
            <div class="block-dbr block-request"></div>
            <div data-ng-include="'/nox-themes/default/templates/app/free-vector-simple.html'"></div>
        </div>
        <div style="text-align: center" class="grid_3">
            <h3>Instructions:</h3>
            {if ($request[status] == 17)}
            <div class="block">
                <div style="margin: 8px 0">{Prints::HTML_ICON_VECTOR_REQUEST_LOCKED}</div>
                <p><b>This blueprint can not be produced.</b></p>
                <br/>
                <p>We have estimated this request before and unfortunately marked it as impossible to produce.</p>
                <br/>
                <p>Please ensure that the vehicle you need exists and it is possible to find appropriate sources
                    to produce its blueprint. Try to choose other request or create one by yourself. Be specific
                    with year, model and version name.</p>
            </div>
            {else}
            <div class="block">
                <div style="margin: 8px 0">{Prints::HTML_ICON_VECTOR_REQUEST}</div>
                {if $vote && $vote['want_pay'] == 1}
                <p><b>Step 1. Done.</b> We got your request. We are going to estimate the price and if
                    it's feasible to make this blueprint.<br/><br/>Please wait for Quotation and Pre-payment
                    Link to your email in a few work days in case if your request is feasible.</p>
                {else}
                <p>This blueprint is requested by users. We have not estimated how much it costs and if
                    it’s feasible to make it at all.</p>
                <br/>
                <p>
                    {if $vote === null}
                    <a class="btn invert-colors js-popup" href="#" data-action="vote|{$request[id]}|1"
                       data-wid="reg_main" data-wprm="estimate">
                        ★ Want to buy vector
                    </a>
                    {else}
                    <a class="btn invert-colors" href="/requests/{$request[id]}/ajax/vote?want_pay=1">
                        ★ Want to buy vector
                    </a>
                    {end}
                </p>
                <br/>
                <p><b>Step 1:</b> Press the button and we estimate a price and send a prepay quotation for you.</p>
                {end}
                <br/>
                <p class="f12">The average price of production of vector blueprints is $24.</p>
            </div>
            <br/>
            <div>{Prints::HTML_ICON_PREPAY}</div>
            <p><b>Step 2:</b> You got estimated quotation from us called Prepay. This item is approved for pre-order.
                Make payment and we start work on it.</p>
            <br/>
            <div>{Prints::HTML_ICON_VECTOR}</div>
            <p><b>Step 3:</b> Get it in <b>1-{noxSystem::$prepayMaxDays} work days</b>. A ready premium vector blueprint will be available in
                My Downloads page.</p>
            {end}
        </div>
        <div class="grid_3">
            <h3>Vector blueprints will be:</h3>
            <p>&#9679; Available in AI, EPS, PDF, SVG, DWG and DXF file formats.</p>
            <br/>
            <p>&#9679; Editable - You could move and paint vehicle parts. Change it from black plastic to
                metallic or select between glasses and panels.</p>
            <br/>
            <p>&#9679; Scalable - This blueprint will be made with vector curves and strokes so you could zoom in
                as much as you need.</p>
            <br/>
            <p>&#9679; Lines and Shapes - Each blueprint could be used as lined wireframes and as a filled shapes.</p>
            <br/>
            <p>&#9679; Separate layers - for body, parts, windows, wheels, lights etc.</p>
        </div>
    </div>
</div>
{if isset($relVectors)}
<div class="content">
    <div class="container_12">
        <p>&nbsp;</p>
        <h3 style="padding-bottom: 6px">Best drawings for you:</h3>
        {eval $i = 0}
        {foreach $relVectors as $v}
        <div class="grid_3{if $i%4 === 0} grid_first{end}">
            {eval $i++}
            {printsVectorModel::viewVectorPreview($v, $url['typeTitle'])}
            <p style="padding-bottom: 6px">&nbsp;</p>
        </div>
        {end}
    </div>
</div>
{end}
{if isset($vote_email)}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        windows.open('msg', 'on_{$vote_email}');
    })
</script>
{end}
{if isset($unauthorized_request)}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        windows.open('reg_main', 'request');
    })
</script>
{end}
