<style>
    [make="hidden"] .for-not-like-chrome,
    [make="hidden"] .for-like-chrome{
        display: none;
    }
</style>
<div class="pre-content">
    <div class="container_12">
        <h1 class="caption">{$caption}</h1>
    </div>
</div>
<div class="content">
    <div class="container_12">
        <div class="grid_3 grid_first js_column-scroll">
            <div class="scroll-wrapper">
                <h3>Search:</h3>
                <p>Fill one or few filters to search</p>
                <form method="get" name="search" action="{$url}">
                    <div id="inputContainer" class="search-form-block {$brouser}" {if !isset($makesDataOptions)}make="hidden"{end}>
                        <div class="form-item">
                            <select class="input w100p" name="search[category_id]" id="category">
                                <option value="">Category</option>
                                {$categories}
                            </select>
                        </div>
                        <div class="form-item for-like-chrome">
                            <input class="input w100p" list="makeDataList" name="search[fake_make]" placeholder="Make">
                            <datalist class="w100p" id="makeDataList">
                                {if isset($makesDataOptions)}{$makesDataOptions}{end}
                            </datalist>
                        </div>
                        <div class="form-item for-not-like-chrome">
                            <select class="input w100p" name="search[make_id]" id="make">
                                {if isset($makesSelectOptions)}{$makesSelectOptions}{end}
                            </select>
                        </div>
                        <div class="form-item">
                            <input class="input" name="search[name]" minlength="3" placeholder="Name" value="{if isset($search[params][name])}{$search[params][name]}{end}">
                        </div>
                        <div class="form-item">
                            <input class="input" name="search[year]" placeholder="Year" value="{if isset($search[params][year])}{$search[params][year]}{end}">
                        </div>
                        <div class="form-item">
                            <input class="btn invert-colors" type="submit" name="search-submit" value="Search">
                        </div>
                    </div>
                </form>
                <div class="hr"></div>
                <div data-ng-include="'/nox-themes/default/templates/app/need-request.html'"></div>
            </div>
            &nbsp;
        </div>
        <div class="grid_6">
            {if isset($search)}
            <h3 class="inline-block">Search Results</h3>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{noxSystem::$actionUrl}">Show all categories</a>
            <table>
                <thead>
                <tr>
                    <th class="w16">&nbsp;</th>
                    <th class="text-left">Model</th>
                    <th class="text-center" style="width: 60px;">Views</th>
                </tr>
                </thead>
                <tbody class="pointer">
                {foreach $search[result] as $ar}
                <tr>
                <td class="copyright"></td>
                <td>
                    <a class="link__color-default link__undecoration display-block" href="{$ar[url]}" title="{$ar[title]}">{$ar[title]}
                        {if $ar[type] === Prints::VECTOR}
                        {Prints::HTML_ICON_VECTOR}
                        {elseif $ar[type] === Prints::REQUEST_VECTOR}
                        {Prints::HTML_ICON_VECTOR_REQUEST}
                        {end}
                    </a>
                </td>
                <td class="text-center">
                    {Views::getViewsInHtml($ar[data][views])}
                </td>
                </tr>
                {end}
                </tbody>
            </table>
            {else}
            <h3>Category</h3>
            <ul class="list-default">
                {foreach $categories_active as $category}
                <li>
                    <a class="list-item" href="/{$category[url]}-vector-drawings/">{$category[name_singular]} drawings</a>
                </li>
                {end}
            </ul>
            {end}
        </div>
        <div class="grid_3">
            <h3>Drawings</h3>
            {eval $c = count($relVectors)}
            {eval $ii = 1}
            {foreach $relVectors as $v}
            {printsVectorModel::viewVectorPreview($v)}
            {if $ii < $c}<p>&nbsp;</p>{end}
            {eval $ii++}
            {end}
        </div>
    </div>
</div>
<script>
    (function () {
        var form = document.forms.search,
            category = form['search[category_id]'],
            make = form['search[make_id]'],
            fakeMake = form['search[fake_make]'],
            fakeMakeData = document.getElementById('makeDataList');

        if(make.value){
            fakeMake.value = make.options[make.selectedIndex].text;
        }

        category.addEventListener('change', function () {
            upData('GET', '/requests/options?category_id=' + category.value, null,
                function (data) {
                    data = data.split(':::::');
                    make.innerHTML = data[0];
                    fakeMakeData.innerHTML = data[1];
                    fakeMake.value = '';
                    document.getElementById('inputContainer').removeAttribute('make');
                }
            )
        });

        fakeMake.addEventListener('change', function () {
            var opt = fakeMakeData.querySelectorAll('option[value="' + fakeMake.value + '"]');
            if(opt.length === 1){
                make.value = opt[0].getAttribute('data-id');
            }else{
                fakeMake.value = make.value = '';
            }
        });

        make.addEventListener('change', function () {
            if(!fakeMake.value){ //not Chrome brousers
                fakeMake.value = make.options[make.selectedIndex].text;
            }
        });
    })();
</script>
