<div class="pre-content">
    <div class="container_12">
        <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs">
            {foreach $breadcrumbs as $index=>$crumb}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{$crumb[url]}" title="{$crumb[title]}" class="crumb"><span itemprop="name">{$crumb[name]}</span></a>
                <meta itemprop="position" content="{$index+1}" />
            </li>
            {end}
        </ol>
        <h1 class="caption">{$caption}</h1>
    </div>
</div>
<div class="content">
    <div class="container_12">
        <div class="grid_3 grid_first js_column-scroll">
            <div class="scroll-wrapper">
                <h3>Search:</h3>
                <p>Fill one or few filters to search</p>
                <form method="get" action="{$url}">
                    <div class="search-form-block">
                        <input type="hidden" name="search[category_id]" value="{$category[id]}">
                        {if $subCategoryName}
                        <div class="form-item">
                            <select class="input" name="search[{$subCategoryName}]">
                                <option value="">{$captionList}</option>
                                {foreach $subCategories as $c}
                                <option value="{$c[id]}"{if isset($search) && $search['params'][$subCategoryName] == $c[id]} selected{end}>{$c[name]}</option>
                                {end}
                            </select>
                        </div>
                        {end}
                        <div class="form-item">
                            <input class="input js-input-requires" name="search[name]" placeholder="Name" value="{if isset($search[params][name])}{$search[params][name]}{end}">
                        </div>
                        <div class="form-item">
                            <input class="input js-input-requires" name="search[year]" placeholder="Year" value="{if isset($search[params][year])}{$search[params][year]}{end}">
                        </div>
                        <div class="form-item">
                            <input class="btn invert-colors" type="submit" name="search-submit" value="Search">
                        </div>
                    </div>
                </form>
                <div class="hr"></div>
                <div data-ng-include="'/nox-themes/default/templates/app/need-request.html'"></div>
                <div class="hr"></div>
                {foreach $categories as $c}
                <div>
                    <a href="/{$c[url]}-vector-drawings/">{$c[name_singular]} drawings</a>
                </div>
                {end}
            </div>
            &nbsp;
        </div>
        <div class="grid_6">
            {if isset($search)}
            <h3 class="inline-block">Search Results</h3>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{noxSystem::$actionUrl}">Show all categories</a>
            <table>
                <thead>
                <tr>
                    <th class="w16">&nbsp;</th>
                    <th class="text-left">Model</th>
                    <th class="text-center" style="width: 60px;">Views</th>
                </tr>
                </thead>
                <tbody class="pointer">
                {foreach $search[result] as $ar}
                <tr>
                <td class="copyright"></td>
                <td>
                    <a class="link__color-default link__undecoration display-block" href="{$ar[url]}" title="{$ar[title]}">{$ar[title]}
                        {if $ar[type] === Prints::VECTOR}
                        {Prints::HTML_ICON_VECTOR}
                        {elseif $ar[type] === Prints::REQUEST_VECTOR}
                        {Prints::HTML_ICON_VECTOR_REQUEST}
                        {end}
                    </a>
                </td>
                <td class="text-center">
                    {Views::getViewsInHtml($ar[data][views])}
                </td>
                </tr>
                {end}
                </tbody>
            </table>
            {else}
            {if !empty($captionList)}<h3>{$captionList}</h3>{end}
            <ul class="list-default">
                {foreach $subCategories as $c}
                <li>
                    <a class="list-item" href="{noxSystem::$actionUrl}/{$c[url]}" title="{$c[name]} vector drawings and templates">{$c[name]}</a>
                </li>
                {end}
            </ul>
            {end}
            <p>&nbsp;</p>
            <h3>Can't find the right blueprint?</h3>
            <p style="padding-bottom: 8px">Just request it now and get in a few days!</p>
            <p>
                <a class="btn btn-active" href="/requests">Request needed blueprint</a>
            </p>
        </div>
        <div class="grid_3">
            <h3>Best drawings for you:</h3>
            {eval $c = count($relVectors)}
            {eval $ii = 1}
            {foreach $relVectors as $v}
            {printsVectorModel::viewVectorPreview($v)}
            {if $ii < $c}<p>&nbsp;</p>{end}
            {eval $ii++}
            {end}
        </div>
    </div>
</div>
