<form method="post">
    <p>
        <label>Profile name</label>
        <span> <input name="name"> </span>
    </p>
    <p>
        <label>Landing page type</label>
        <span> <input name="flowConfig[landingPageType]"> </span>
    </p>
    <p>
        <label>Allow note</label>
        <span> <input name="inputFields[allowNote]"> </span>
    </p>
    <p>
        <label>No shipping</label>
        <span> <input name="inputFields[noShipping]"> </span>
    </p>
    <p>
        <label>Brand name</label>
        <span> <input name="presentation[brandName]"> </span>
    </p>
    <p>
        <label>Locale code</label>
        <span> <input name="presentation[localeCode]"> </span>
    </p>
    <p>
        <label>Logo image</label>
        <span> <input name="presentation[logoImage]" class="file-editor"> </span>
    </p>

    <p>
        <button name="submit">Add new PayPal web profile</button>
    </p>
</form>
