<div class="pre-content">
    <div class="container_12">
        <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs">
            {foreach $breadcrumbs as $index=>$crumb}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{$crumb[url]}" title="{$crumb[title]}" class="crumb"><span itemprop="name">{$crumb[name]}</span></a>
                <meta itemprop="position" content="{$index+1}" />
            </li>
            {end}
        </ol>
        <h1 class="caption">{$caption}</h1>
        <div>&nbsp;</div>
    </div>
</div>
<div class="content">
    <div class="container_12">
        <div class="grid_3 grid_first js_column-scroll">
            <div id="sc" data-os="150" class="scroll-wrapper">
                <h3>My Request:</h3>
                <p>I need blueprints of</p>
                <form method="post" name="request" action="{noxSystem::$actionUrl}">
                    <div class="search-form-block {$brouser}">
                        <div class="form-item">
                            <select class="input w100p" name="request[category_id]" id="category">
                                {$categories}
                            </select>
                        </div>
                        <div class="form-item for-like-chrome">
                            <div id="hintFakeMake" class="hint f12">Select Other for unrepresented Make.</div>
                            <input class="input w100p" list="makeDataList" name="request[fake_make]" placeholder="Make*" value="{if isset($makeName)}{$makeName}{end}" required>
                            <datalist class="w100p" id="makeDataList">
                                {$makesDataOptions}
                            </datalist>
                        </div>
                        <div class="form-item for-not-like-chrome">
                            <div id="hintMake" class="hint f12">Select Other for unrepresented Make.</div>
                            <select class="input w100p" name="request[make_id]" id="make" required>
                                {$makesSelectOptions}
                            </select>
                        </div>
                        <div class="form-item">
                            <input class="input" list="modelDataList" name="request[name]" placeholder="Model name*" value="{if isset($prm[name])}{$prm[name]}{end}" required>
                            <div class="hint">
                                Use general model name such as Focus (instead of Focus ST), or Mustang
                                (instead of Mustang GT350 Fastback), because you can add ST or
                                GT350 Fastback in the next textfield.
                            </div>
                            <datalist class="w100p" id="modelDataList">
                                {$namesDataOptions}
                            </datalist>
                        </div>
                        <div class="form-item">
                            <input class="input" name="request[details]" placeholder="Specification" autocomplete="off" value="{if isset($prm[spec])}{$prm[spec]}{end}">
                            <div class="hint">
                                Specify you request with main details such as: body type (sedan, 3-door
                                hatchback, 5-door hatchback, spider, panel van or passenger van etc),
                                version (GT, 4x4, SWB, LWB etc). You can also add some profound details
                                such as generation (Golf IV, Escort Mk.2, Facelifted etc) or model code
                                (BMW E90, Civic FN etc.).
                            </div>
                        </div>
                        <div class="form-item">
                            <input class="input" name="request[year]" placeholder="Year*" value="{if isset($prm[year])}{$prm[year]}{end}" required>
                        </div>
                        <br>
                        <div class="form-item">
                            <input type="radio" name="request[want_pay]" value="1" style="height: auto;" required>
                            <label>Want to buy it vector</label>
                        </div>
                        <br>
                        <div class="form-item">Get quotation with estimated price called Prepay. Make pre-order and get
                            editable vector blueprints <b>Today*</b> or up to <b>2-{noxSystem::$prepayMaxDays} work days</b>.</div>
                        <div id="hintPay" style="display: none;" class="hint">
                            <br>
                            <div class="form-item f12 text-color-note">*The countdown begins with your pre-payment.
                                The average price of vector blueprint is $24.</div>
                        </div>
                        <br>
                        <div class="form-item">
                            <input type="radio" name="request[want_pay]" value="0" style="height: auto;" required>
                            <label>Request free blueprint</label>
                        </div>
                        <br>
                        <div class="form-item">Due to big number of free requests it could be processed in a
                            long time.</div>
                        {if !noxSystem::authorization()}
                        <div class="form-item">
                            <img class="captcha" src="/nox-themes/common/images/imagecode.php" alt="captcha">
                            <br>
                            <br>
                            <input class="input" name="captcha" placeholder="Enter the digits above" required>
                        </div>
                        {end}
                        <div style="margin-top: 16px" class="form-item">
                            <input class="btn blue hover" type="submit" name="request-submit" value="Submit your Request">
                        </div>
                    </div>
                </form>
            </div>
            &nbsp;
        </div>
        <div id="mc" class="grid_6">
            <div id="requestsCont">{$requestsSearch}</div>
        </div>
        <div id="rc" class="grid_3"></div>
    </div>
</div>
<script>
    (function () {
        var form = document.forms.request,
            category = form['request[category_id]'],
            make = form['request[make_id]'],
            fakeMake = form['request[fake_make]'],
            hintMake = document.getElementById('hintMake'),
            hintFakeMake = document.getElementById('hintFakeMake'),
            fakeMakeData = document.getElementById('makeDataList'),
            model = form['request[name]'],
            modelData = document.getElementById('modelDataList'),
            spec = form['request[details]'],
            year = form['request[year]'],
            pay = form['request[want_pay]'],
            hintPay = document.getElementById('hintPay');

        if(make.value){
            fakeMake.value = make.options[make.selectedIndex].text;
        }

        category.addEventListener('change', function () {
            upData('GET', '/requests/options?category_id=' + category.value, null,
                function (data) {
                    data = data.split(':::::');
                    make.innerHTML = data[0];
                    fakeMakeData.innerHTML = data[1];
                    model.value = fakeMake.value = '';
                    getData();
                }
            )
        });

        fakeMake.addEventListener('change', function () {
            var opt = fakeMakeData.querySelectorAll('option[value="' + fakeMake.value + '"]');
            if(opt.length === 1){
                make.value = opt[0].getAttribute('data-id');
                getNames();
            }else{
                fakeMake.value = make.value = '';
            }
        });
        fakeMake.addEventListener('focus', function () {
            hintFakeMake.style.display = 'block';
        });
        fakeMake.addEventListener('blur', function () {
            hintFakeMake.style.display = 'none';
        });

        make.addEventListener('change', getNames);
        make.addEventListener('focus', function () {
            hintMake.style.display = 'block';
        });
        make.addEventListener('blur', function () {
            hintMake.style.display = 'none';
        });
        model.addEventListener('change', getData);

        spec.addEventListener('change', setCookie);
        year.addEventListener('change', setCookie);

        pay[0].addEventListener('change', payHint);
        pay[1].addEventListener('change', payHint);
        function payHint() {
            hintPay.style.display = +pay.value ? 'block' : 'none';
        }

        function getNames() {
            if(!fakeMake.value){ //not Chrome brousers
                fakeMake.value = make.options[make.selectedIndex].text;
            }
            model.value = '';
            upData('GET', '/requests/options?category_id=' + category.value + '&make_id=' + make.value, null,
                function (data) {
                    modelData.innerHTML = data;
                }
            );
            getData();
        }

        function getData() {
            setCookie();
            /page=/.test(location.search)
            ? location.assign('/requests')
            : upData('GET', '/requests/filter', null,
                function (data) {
                    var requestsCont = document.getElementById('requestsCont');
                    requestsCont && (requestsCont.innerHTML = data);
                }
            );
        }
        
        function setCookie() {
            document.cookie = 'my_search_model=' +
                category.value + '::' +
                make.value + '::' +
                model.value + '::' +
                spec.value + '::' +
                year.value;
        }
    })();
</script>
