<div>

    <p><a href="?section=blueprint&action=add" class="inline-block add" title="Добавить"></a></p>

    {if $pagesCount>1}
    <div class="pages">
        {if $pagesCount<=10}
        {for $i=1 to $pagesCount}
        <a href="?section=blueprint&sort={$sort}&page={$i}"{if $i==$page} class="active"{end}>{$i}</a>
        {end}
        {else}
        <a href="?section=blueprint&sort={$sort}&page=1"{if 1==$page} class="active"{end}>1</a>...

        <?php for ($i=max(1, $page-4); $i <= min($page+4, $pagesCount); $i++) { ?>
        <a href="?section=blueprint&sort={$sort}&page={$i}"{if $i==$page} class="active"{end}>{$i}</a>
        {end}
        ...
        <a href="?section=blueprint&sort={$sort}&page={$pagesCount}"{if $pagesCount==$page}
        class="active"{end}>{$pagesCount}</a>
        {end}
    </div>
    {end}

    <script type="text/javascript">
        $(document).ready(function(){
           $('.delete').off('click').click(function(){
               if (confirm('Вы уверены?')) {
                   $.get($(this).attr('href'));
                   $(this).parents('form').remove();
               }
               return false;
            });
            $('.js-update_preview').on('change', function() {
               $('#preview-id-' + this.getAttribute('data-id')).attr('src', this.value);
            });
        });
    </script>

{foreach $res as $ar}
<form action="{$url}" method="POST">
    <table class="w100p valign-middle">
        <thead>
            <tr>
                <th class="w50p text-center">Превью</th>
                <th class="w50p text-left">Редактирование</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="{$ar[filename]}" alt="" id="preview-id-{$ar[id]}">
                </td>
                <td>
                    <h3>
                        {$ar[year]} {$ar[name]}
                        <a href="?section=blueprint&amp;action=edit&amp;id={$ar[id]}" class="inline-block edit" title="Редактировать отдельно"></a>
                        <a href="?section=blueprint&action=delete&id={$ar[id]}" class="inline-block delete" title="Удалить"></a>
                    </h3>

                    <p>
                        <label>Категория:</label>
                        <span>
                            <span class="bold">{$categories[$ar[class_id]][name]}</span>
                        </span>
                    </p>
                    <p>
                        <label>URL:</label>
                        <span>
                            <span class="bold">{$ar[url]}</span> (<a href="">Чертеж на сайте</a> )
                        </span>
                    </p>

                    <p>
                        <label>Файл:</label>
                        <span>
                            <input type="text" name="new[{$ar[id]}][filename]"  value="{if !empty($ar[filename])}/nox-data{htmlspecialchars($ar[filename])}{end}"
                                     data-folder="/nox-data/blueprints" class="file-editor js-update_preview" data-id="{$ar[id]}">
                        </span>
                    </p>
                    <p>
                        <label>Название чертежа:</label>
                        <span>
                            <input type="text" name="new[{$ar[id]}][name]"  value="{htmlspecialchars($ar[name])}">
                        </span>
                    </p>
                    <p>
                        <label>URL:</label>
                        <span>
                            <input type="text" name="new[{$ar[id]}][url]" value="{htmlspecialchars($ar[url])}">
                        </span>
                    </p>
                    <p>
                        <label>Проекции:</label>
                        <span>
                            {Views::getViewsForAdmin($ar[views], $ar[id])}
                        </span>
                    </p>

                    <p>
                        <label>Просмотров:</label>
                        <span>{$ar[views_count]}</span>
                    </p>
                    <p>
                        <label>Скачиваний:</label>
                        <span>{$ar[downloads_count]}</span>
                    </p>

                    <fieldset>
                        <?
                            $m = new noxModel(false, 'prints_class_' . $categories[$ar[class_id]][db_table]);
                            $default = $m->getById($ar['item_id']);
                            $f = new noxModelForm($m, false, $default);
                            $f->onlyFields = true;
                            echo $f;
                        ?>
                    </fieldset>

                    <p>
                        <span><input type="submit" name="submit" value="Сохранить"/></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr/>
                </td>
            </tr>
        </tbody>
    </table>
</form>
{end}

    {if $pagesCount>1}
    <div class="pages">
        {if $pagesCount<=10}
        {for $i=1 to $pagesCount}
        <a href="?section=blueprint&sort={$sort}&page={$i}"{if $i==$page} class="active"{end}>{$i}</a>
        {end}
        {else}
        <a href="?section=blueprint&sort={$sort}&page=1"{if 1==$page} class="active"{end}>1</a>...

        <?php for ($i=max(1, $page-4); $i <= min($page+4, $pagesCount); $i++) { ?>
        <a href="?section=blueprint&sort={$sort}&page={$i}"{if $i==$page} class="active"{end}>{$i}</a>
        {end}
        ...
        <a href="?section=blueprint&sort={$sort}&page={$pagesCount}"{if $pagesCount==$page}
        class="active"{end}>{$pagesCount}</a>
        {end}
    </div>
    {end}

    <p><a href="?section=blueprint&action=add" class="inline-block add" title="Добавить"></a></p>

</div>