<form action="{$url}" method="POST">

    <input type="hidden" name="id" value="{$ar[id]}"/>

    <p>
        <span><input type="submit" name="submit" value="Сохранить" /></span>
    </p>

    <p>
        <label>Название</label>
        <span><input type="text" name="new[name]" value="{htmlspecialchars($ar[name])}" /></span>
    </p>

    <p>
        <label>Флаг</label>
        <span><input type="text" name="new[flag]" value="{htmlspecialchars($ar[flag])}" class="file-editor" data-folder="/nox-data/flags" /></span>
    </p>

    <p>
        <span><input type="submit" name="submit" value="Сохранить" /></span>
    </p>

</form>