<p><a href="?section=country&action=add" class="inline-block add" title="Добавить"></a></p>

<table class="hover">
    <thead>
    <tr>
        <th class="w50">Флаг</th>
        <th>Название</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {foreach $res as $ar}
    <tr>
        <td><img src="{$ar[flag]}" alt="" /></td>
        <td>
            <a href="?section=country&action=edit&amp;id={$ar[id]}">{htmlspecialchars($ar[name])}</a>
        </td>

        <td>
            <a href="?section=country&action=edit&amp;id={$ar[id]}" class="inline-block edit"
               title="Редактировать"></a>
            <a href="?section=country&action=delete&amp;id={$ar[id]}" class="inline-block delete" title="Удалить"></a>
            <a href="?section=country&action=add&amp;id={$ar[id]}" class="inline-block copy" title="Копировать"></a>
        </td>
    </tr>
    {end}
    </tbody>
</table>

<p><a href="?section=country&action=add" class="inline-block add" title="Добавить"></a></p>
