{eval $get = $_GET}

<div class="filter-panel">
    <form method="get" action="{$url}">
        <input type="hidden" name="section" value="make">
        <select class="js-change-send" name="filter[category_id]">
            <option value="0">Выберите...</option>
            {foreach $categories as $c}
            <option value="{$c[id]}"{if $c[id] == $_GET[filter][category_id]} selected{end}>{$c[name]}</option>
            {end}
        </select>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('.js-change-send').on('change', function() {
            $(this).parents('form').submit();
        });
    });
</script>
<div class="action-panel">
    <a class="action-button" href="?section=make&action=add{if isset($get[filter])}&{http_build_query($get[filter])}{end}" title="Добавить производителя">Добавить производителя</a>
</div>
{$pager}
<table id="table">
    <thead>
        <tr>
            <th class="w16"><input class="js-checkAll" data-check-class="item" type="checkbox"></th>
            <th class="w16">ID</th>
            <th class="text-left">Название</th>
            <th class="text-left">Top</th>
            <th class="text-left">URL</th>
            <th class="text-left">Make Tags</th>
            <th class="text-left">Действия</th>
        </tr>
    </thead>
    <tbody>
        {foreach $res as $ar}
        <tr>
            <td>
                <input class="js-checkAll-item" type="checkbox" name="check[{$ar[id]}]">
            </td>
            <td>
                {$ar[id]}
            </td>
            <td>
                {$ar[name]}
            </td>
            <td>
                {if $ar[class_id] == 1}
                <input type="checkbox" prm="{$ar[id]}" {if $ar[top] == 1}checked{end}>
                {end}
            </td>
            <td>
                {$ar[url]}
            </td>
            <td>
                <a href="/administrator/tag?section=tag&action=make&id={$ar[id]}">Edit Make tags</a>
            </td>
            <td>
                <a href="?section=blueprint&action=add&category_id={$ar[class_id]}&make_id={$ar[id]}">Доб. чертеж</a>
                <a href="?section=blueprint&filter%5Bcategory_id%5D={$ar[class_id]}&filter%5Bmake_id%5D={$ar[id]}">Чертежи</a>
                <a href="?section=vector&action=add&category_id={$ar[class_id]}&make_id={$ar[id]}">Доб. вектор</a>
                <a href="?section=vector&filter%5Bcategory_id%5D={$ar[class_id]}&filter%5Bmake_id%5D={$ar[id]}">Векторы</a>
                <a href="?section=make&action=edit&id={$ar[id]}">Редактировать</a>
                <a href="?section=make&action=delete&id={$ar[id]}">Удалить</a>
            </td>
        </tr>
        {end}
    </tbody>
</table>
{$pager}
<script>
    var table = document.getElementById('table');
    table.addEventListener('click', function (e) {
        var prm = e.target.getAttribute('prm');
        prm && changeStatus(e.target, prm);
    });
    function changeStatus(el, id) {
        el.setAttribute('disabled', 'true');
        upData(
            'GET',
            '/administrator/prints?section=make&action=top&id=' + id + '&status=' + (el.checked ? 1 : 0),
            null,
            complete,
            function () {
                el.checked = !el.checked;
                complete();
            }
        );
        function complete() {
            el.removeAttribute('disabled');
        }
    }
</script>
