<script type="text/javascript">
    {if isset($makeUrls)}
    var makeUrls = {json_encode($makeUrls)};
    {end}
    document.addEventListener('DOMContentLoaded', function () {
        var payInp = document.getElementById('prepayInput'),
            fileBl = document.getElementById('filesBlock'),
            prvInp = document.getElementById('previewInput'),
            arhInp = document.getElementById('arhivInput'),
            makeSel = document.querySelector('.js-change-data-folder');
        payInp.addEventListener('click', changePrepay);
        prvInp.addEventListener('change', changePreview);
        makeSel.addEventListener('change', changeMake);
        changePrepay();
        changeMake();
        function changePrepay(e) {
            var checked = payInp.checked;
            payInp.value = checked ? 1 : 0;
            fileBl.style.display = checked ? 'none' : 'block';
            prvInp.value = checked ? '/vectors/prepay/Outlines-Prepayment-Preview.png' : (e ? '' : prvInp.value);
            arhInp.value = checked ? '/vectors/prepay/Outlines-Prepayment-Success.pdf' : (e ? '' : arhInp.value);
            changePreview();
        }
        function changePreview() {
            var id = 'preview-id-' + prvInp.getAttribute('data-id'),
                preview = document.getElementById(id);
            if(!prvInp.value){
                preview && preview.parentNode.removeChild(preview);
            }else{
                if(!preview){
                    preview = document.createElement('img');
                    preview.id = id;
                    document.getElementById('preview-cont').appendChild(preview);
                }
                preview.src = '{$ar[img_src]}' + prvInp.value;
            }
        }
        function changeMake(e) {
            var dir = '/vectors/{$category[url]}/',
                makeFolder = makeSel.value ? makeUrls[makeSel.value] : '',
                prvDir = dir + (makeFolder ? (makeFolder + '/preview') : ''),
                arhDir = dir + (makeFolder ? (makeFolder + '/store') : '');
            e && (prvInp.value = arhInp.value = '');
            prvInp.setAttribute('data-folder', prvDir);
            arhInp.setAttribute('data-folder', arhDir);
            changePreview();
        }
    });
</script>
<style>
    fieldset input, fieldset select {
        max-width: 180px;
    }
</style>
<form action="{$url}" method="POST">
    <table class="w100p valign-middle hover-disable">
        <thead>
        <tr>
            <th class="text-center" width="25%">Превью</th>
            <th class="text-left" width="75%">Данные</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="preview-cont">
                {if isset($ar[preview])}
                    <img src="{$ar[img_preview]}" alt="" id="preview-id-{$ar[id]}">
                {end}
            </td>
            <td>
                <h3>{$categoryData[year]} {if isset($categoryData[make_id])}<? echo (new printsMakeModel())->where('id', $categoryData['make_id'])->fetch('name'); ?>{end} {$ar[name]} {$categoryData[body]}</h3>

                <p>
                    <label>Категория:</label>
                    <span>
                        <span class="bold">{$categories[$category[id]][name]}</span>
                    </span>
                </p>

                <fieldset>{$f}</fieldset>

                <p>
                    <label>Prepay:</label>
                    <span>
                        <input id="prepayInput" type="checkbox" name="new[prepay]" {if $ar[prepay]} checked{end}>
                    </span>
                </p>
                <div id="filesBlock">
                    <p>
                        <label>Превью:</label>
                        <span>
                            <input id="previewInput" type="text" name="new[preview]"  value="{htmlspecialchars($ar[preview])}"
                                   data-folder="/vectors" class="file-editor js-update_preview js-change-data-folder-preview" data-id="{$ar[id]}">
                        </span>
                    </p>
                    <p>
                        <label>Архив:</label>
                        <span>
                            <input id="arhivInput" type="text" name="new[filename]"  value="{htmlspecialchars($ar[filename])}"
                                   data-folder="/vectors/{$category[url]}" class="file-editor js-change-data-folder-archive">
                        </span>
                    </p>
                </div>

                <p>
                    <label>Title Name:</label>
                    <span>
                        <input type="text" name="new[name]"  value="{htmlspecialchars($ar[name])}">
                        <input type="hidden" name="new[item_id]"  value="{htmlspecialchars($ar[item_id])}">
                    </span>
                </p>
                <p>
                    <label>Version Name:</label>
                    <span>
                        <input type="text" name="new[name_version]"  value="{htmlspecialchars($ar[name_version])}">
                    </span>
                </p>
                <p>
                    <label>Spec Name:</label>
                    <span>
                        <input type="text" name="new[name_spec]"  value="{htmlspecialchars($ar[name_spec])}">
                    </span>
                </p>
                <p>
                    <label>Проекции:</label>
                    <span>
                        {Views::getViewsForAdmin($ar[views])}
                    </span>
                </p>

                <p>
                    <label>Цена:</label>
                        <span>
                            <input class="w50" type="text" name="new[price]"  value="{$ar[price]}"> $
                        </span>
                </p>

                <p>
                    <label>Масштаб:</label>
                    <span>
                        1:<input style="width: 50px" type="text" name="new[scale]" value="{$ar[scale]}">
                    </span>
                </p>
                <p>
                    <label>Форматы:</label>
                    <span>
                        {foreach $exts as $ext}
                        <label>{$ext}&nbsp;&nbsp;<input type="checkbox" name="new[ext][]" value="{$ext}"{if in_array($ext, $ar[ext])} checked{end}></label>
                        {end}
                    </span>
                </p>

                <p>
                    <input type="submit" name="submit" value="Сохранить{if $admin} и вернуться к списку{end}"/>
                    {if $admin}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" name="submit_with_view" value="Сохранить и показать ссылки"/>
                    {end}
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr/>
            </td>
        </tr>
        </tbody>
    </table>
</form>