{eval $get = $_GET}
<div>
    {if $admin && !isset($get['collection'])}
    <a href="?section=vector&action=priceReplace">Автозамена цен</a>
    {end}
</div>
<div class="filter-panel">
    <form method="get" action="{$url}">
        <input type="hidden" name="section" value="vector">
        {if isset($get['collection'])}
        <input type="hidden" name="collection" value="{$get['collection']}">
        {end}
        Поиск по:
        {eval $ar = ['name', 'id'];}
        {foreach $ar as $key=>$value}
        <input id="st{$key}" type="radio" name="search_type" value="{$key}"{if $_GET[search_type] == $key} checked{end}>
        <label for="st{$key}">{$value}</label>
        {end}
        &nbsp;&nbsp;<input type="search" name="search" value="{$_GET[search]}" placeholder="Поиск">
        <select class="js-change-send" name="filter[category_id]">
            <option value="0">Выберите...</option>
            {foreach $categories as $c}
            <option value="{$c[id]}"{if $c[id] == $_GET[filter][category_id]} selected{end}>{$c[name]}</option>
            {end}
        </select>
        {if isset($makes)}
        <select class="js-change-send" name="filter[make_id]">
            <option value="0">Выберите...</option>
            {foreach $makes as $c}
            <option value="{$c[id]}"{if $c[id] == $_GET[filter][make_id]} selected{end}>{$c[name]}</option>
            {end}
        </select>
        {if isset($sets)}
        <select class="js-change-send" name="filter[set_id]">
            <option value="0">Выберите...</option>
            {foreach $sets as $c}
            <option value="{$c[id]}"{if $c[id] == $_GET[filter][set_id]} selected{end}>{$c[name_title]}</option>
            {end}
        </select>
        {end}
        {end}
        Сортировать по:&nbsp;
        <input type="hidden" name="order_force" value="0">
        <select class="js-change-send" name="order">
            <option value="0">названию</option>
            <option value="1"{if $_GET[order] == 1} selected{end}>году выпуска</option>
            <option value="2"{if $_GET[order] == 2} selected{end}>дате добавления</option>
        </select>
        Статус:&nbsp;
        <select class="js-change-send" name="status">
            <option value="0">Все</option>
            <option value="1"{if $_GET[status] == 1} selected{end}>Ready</option>
            <option value="2"{if $_GET[status] == 2} selected{end}>Prepay</option>
        </select>
        <a href="?section=vector">показать все</a>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('.js-change-send').on('change', function() {
            var form = this.form,
                make = form['filter[make_id]'],
                set = form['filter[set_id]'],
                order = form.order;
            if(this.name === 'filter[category_id]'){
                make && (make.value = 0);
                set && (set.value = 0);
            }
            if(this.name === 'filter[make_id]'){
                set && (set.value = 0);
            }
            if(this.name === 'order'){
                form.order_force.value = 1;
            }
            form.submit();
        });
        $('#addVectorsToCollection').on('click', function() {
            var form = this.form;
            //console.dir(form);
            form.submit();
        });
    });
</script>
{$pager}
<form method="post" action="{$url}">
    <input type="hidden" name="section" value="vector">
    <div class="action-panel">
        {if isset($get['collection'])}
        <input type="button" id="addVectorsToCollection" class="action-button" value="Добавить выделенные вектора в коллекцию">
        <select name="collection">
            {foreach $collections as $c}
            <option value="{$c[id]}"{if $c[id] == $get[collection]} selected{end}>{$c[name]}</option>
            {end}
        </select>
        {else}
        <a class="action-button" href="?section=vector&action=add&category_id={if $_GET[filter][category_id]>0}{$_GET[filter][category_id]}{else}1{end}{if $_GET[filter][make_id]>0}&make_id={$_GET[filter][make_id]}{end}">Добавить вектор</a>
        {if $admin}
            <a class="action-button" href="#">Удалить выделенные</a>
        {end}
        {end}
    </div>
    <table>
        <thead>
            <tr>
                <th class="w16">
                    <input class="js-checkAll" data-check-class="item" type="checkbox">
                </th>
                <th>ID</th>
                <th>Date</th>
                <th>Name</th>
                <th>Views</th>
                <th>Цена</th>
                <th>Действия</th>
                <!--
                <th>На сайте</th>
                -->
            </tr>
        </thead>
        <tbody>
        {foreach $res as $ar}
            <tr>
                <td>
                    <input class="js-checkAll-item" type="checkbox" name="check[{$ar[id]}]">
                </td>
                <td>{$ar[id]}</td>
                <td>{noxDate::toDateTime($ar[added_date])}</td>
                <td>{$ar[full_name]} {if $ar[prepay]}<span class="orange">prepay</span>{end}</td>
                <td class="no-wrap">{Views::getViewsInHtml($ar[views])}</td>
                <td>{$ar[price]}</td>

                <td class="no-wrap">
                    <a href="/administrator/prints/?section=vector&action=view&id={$ar[id]}">view</a>&nbsp;&nbsp;&nbsp;
                    {if $ar[can_edit]}
                        <a href="/administrator/tag?section=tag&action=vector&id={$ar[id]}">tags</a>&nbsp;&nbsp;&nbsp;
                    {end}
                    <a href="/administrator/prints/?section=vector&action=edit&id={$ar[id]}">edit</a>&nbsp;&nbsp;&nbsp;
                    <a href="/administrator/prints/?section=vector&action=add&id={$ar[id]}">copy</a>&nbsp;&nbsp;&nbsp;
                    {if $ar[can_download]}
                        <a href="/administrator/download/?section=vector&id={$ar[id]}">download</a>&nbsp;&nbsp;&nbsp;
                    {end}
                    {if $ar[can_del]}
                        <a class="confirm" href="/administrator/prints/?section=vector&action=delete&id={$ar[id]}">del</a>&nbsp;&nbsp;&nbsp;
                    {end}
                </td>
                <!--
                <td>
                    <a class="color-cyan" href="{Prints::createUrlForItem($ar, Prints::VECTOR)}" target="_blank">{$ar[full_name]} blueprints</a>
                    {if isset($ar[set]) && $ar[can_download]}
                        <br><a href="{Prints::createUrlForItem($ar[set], Prints::SET_VECTOR)}" target="_blank">All {$ar[set][name]} blueprints</a>
                    {end}
                </td>
                -->
            </tr>
        {end}
        </tbody>
    </table>
</form>
{$pager}
<script>
    var view = window.location.search.substr(1).match(/view=(\d*)/);
    view && window.open('/administrator/prints/?section=vector&action=view&id=' + view[1]);
</script>