<form method="POST" action="{$baseUrl}{$requestUrl}" class="routes-editor">
    <p><input type="submit" name="save" value="Сохранить"  id="routes-form-submit" /></p>
    {eval $default = array_keys($routes); $default = $default[0];}

    <div class="domains">
        <ul>
            <li><br /></li>
            {eval $i=0;}
            {foreach $routes as $domain=>$route}
                {eval $i+=1;}
                <li class="{if $default==$domain}active{end}"
                    onmouseenter="$('.domainRoutes').hide(); $('#{$i}Route').show(); $('.domains ul li').removeClass('active'); $(this).addClass('active');"
                    id="{$domain}">
                    <input type="text" class="domainName" name="domainName[{$i}]"
                           title="Домен (default по-умолчанию)" value="{$domain}" />

                    <a href="#" class="inline-block delete"></a>
                </li>
            {end}
            <li>
                <br />
                Новый домен:<br />
                <input type="text" class="domainName" name="domainName[0]"
                       title="Домен (default по-умолчанию)"
                       placeholder="Введите домен"
                        />

                <a href="#" class="inline-block add" onclick=""></a>
            </li>
        </ul>
    </div>

    <div class="tables">
        {eval $i=0;}
        {foreach $routes as $domain=>$route}
            {eval $i+=1;}
            <div class="domainRoutes {if $default!=$domain}hidden{end}" id="{$i}Route">
                <table class="ruler">
                    <thead>
                    <tr>
                        <th class="w400">URL</th>
                        <th class="w150">Модуль</th>
                        <th class="w100">Активен</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th colspan="8" class="add pointer" onclick="tableAddRow(this);" title="Добавить">&nbsp;</th>
                    </tr>
                    </tfoot>
                    <tbody id="table-body">

                    {foreach $route as $name=>$ar}
                        <tr>
                            <td>
                                <input type="hidden" name="routeDomain[]" data-default="{$i}" value="{$i}"/>
                                <input type="text" name="url[]" value="{htmlspecialchars($ar[url])}"/>
                            </td>

                            <td><?php echo noxForm::getSelect('module[]', $ar['module'], $modules) ?></td>

                            <td>
                                <select name="enabled[]" title="Активен" data-default="1">
                                    <option value="0">Нет</option>
                                    <option value="1"{if $ar[enabled]} selected="selected"{end}>Да</option>
                                </select>
                            </td>

                            <td>
                                <a href="#" class="inline-block up" onclick="return tableUpRow(this)"></a>
                                <a href="#" class="inline-block down" onclick="return tableDownRow(this)"></a>
                                &nbsp;
                                <a href="#" class="inline-block delete" title="Удалить" onclick="return tableRemoveRow(this);"></a>
                            </td>

                        </tr>
                    {else}
                        <tr>
                            <td>
                                <input type="hidden" name="routeDomain[]" data-default="{$i}" value="{$i}"/>
                                <input type="text" name="url[]" value=""/>
                            </td>

                            <td><?php echo noxForm::getSelect('module[]', false, $modules) ?></td>

                            <td>
                                <select name="enabled[]" title="Активен" data-default="1">
                                    <option value="0">Нет</option>
                                    <option value="1" selected="selected">Да</option>
                                </select>
                            </td>

                            <td>
                                <a href="#" class="inline-block up" onclick="return tableUpRow(this)"></a>
                                <a href="#" class="inline-block down" onclick="return tableDownRow(this)"></a>
                                &nbsp;
                                <a href="#" class="inline-block delete" title="Удалить" onclick="return tableRemoveRow(this);"></a>
                            </td>

                        </tr>
                    {end}

                    </tbody>
                </table>
            </div>
        {end}
    </div>
    <br class="clear" />
    <p><input type="submit" name="save" value="Сохранить"/></p>
</form>