<form method="POST" action="{$url}">
    <p><input type="submit" name="save" value="Сохранить"/></p>
    <table class="ruler hover-row">
        <thead>
        <tr>
            <th class="w250">Псевдоним</th>
            <th class="w250">Название</th>
            <th class="w250">Папка</th>
            <th class="w250">Имя файла</th>
            <th class="w16">&nbsp;</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th colspan="5" class="align-right add pointer" onclick="tableAddRow(this);" class="inline-block add">
                &nbsp;</th>
        </tr>
        </tfoot>
        <tbody>
        {foreach $templates as $key=>$template}
        <tr>
            <td><input type="text" name="key[]" placeholder="Псевдоним" title="Псевдоним" value="{$key}"/></td>
            <td><input type="text" name="name[]" placeholder="Название" title="Название" value="{$template[name]}"/>
            </td>
            <td><input type="text" name="folder[]" placeholder="Папка" title="Папка" value="{$template[folder]}"/></td>
            <td><input type="text" name="filename[]" class="file-editor" data-default="/nox-themes"
                       data-folder="/nox-themes" placeholder="Имя файла" title="Имя файла"
                       value="{$template[filename]}"/></td>
            <td class="delete pointer" onclick="tableRemoveRow(this);" title="Удалить">&nbsp;</td>
        </tr>
        {end}
        </tbody>
    </table>
    <p><input type="submit" name="save" value="Сохранить"/></p>
</form>