body {
    color: #474747;
    font-family: Tahoma;
    font-size: 14px;
}
#header-stripe {
    font-size: 12px;
}
h1 {
    font-size: 30px;
    margin-top: 18px;
}
h2 {
    font-size: 30px;
    font-weight: 700;
}
h3 {
    font-size: 18px;
}

.lp-bg-fiolet {
    background-color: #391b35;
}
.lp-bg-fiolet.radial {
    background: radial-gradient(circle, #663552 10%, #391b35 60%);
}

.btn-red {
    color: #fff;
    background-color: #f67356;
    border-color: #f67356;
}
.lp-btn-title {
    padding-top: 4px;
    display: inline-block;
}
.btn-red:hover {
    background-color: #FFBC53;
    border-color: #FFBC53;
}

.lp-pre-content {
    height: 318px !important;
    padding: 12px 0 0 0;

    color: #fff;
}
.lp-caption {
    font-size: 24px;
    margin-top: 16px;
}
.lp-btn-area {
    text-align: center;
    margin-top: 48px;
}
.lp-btn-area .btn {
    padding: 14px 44px;
    height: auto;
    line-height: normal;
    font-size: 18px;
}
.lp-img-teaser {
    margin-top: 18px;
}

.lp-actions h3 {
    color: #f67356;
    font-weight: 400;
}
.lp-actions img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
.lp-actions .grid_4 {
    padding: 0 12px;
    font-size: 18px;
}
.lp-dsc .container_12 {
    margin-bottom: 56px;
}
.content .search_header,
#lp_search {
    height: 44px;
    line-height: 44px;
}
#lp_search::-webkit-input-placeholder {
    font-size: 18px;
}
.content .search_header .icon {
    background-image: url("/nox-themes/lp/wrap-uk/images/search_button.png");
    margin: 14px 6px 0 0;
}
.lp-vi {
    padding: 58px 0 95px 0;
    color: #fff;
}
.lp-vi .lp-vi-desc {
    font-size: 24px;
}
.lp-vi .btn-title {
    display: inline-block;
    padding-top: 12px;
}
.lp-search .lp-btn-area {
    margin: 24px 0;
}