<form method="POST" action="{$baseUrl}{$requestUrl}">
    <p><input type="submit" name="save" value="Сохранить"/></p>
    <table class="ruler hover-row">
        <thead>
        <tr>
            <th>Тип</th>
            <th>Псевдоним</th>
            <th>Имя БД</th>
            <th>Имя пользователя</th>
            <th>Пароль</th>
            <th>Хост</th>
            <th class="w16">&nbsp;</th>
            <th class="w16">&nbsp;</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th colspan="7" class="align-right add pointer" onclick="tableAddRow(this);" class="inline-block add">
                &nbsp;</th>
        </tr>
        </tfoot>
        <tbody id="db-table-body">
        {foreach $dbArray as $key=>$db}

        <tr>
            <td>
                <?php
                    echo noxForm::getSelect('type[]', $db['type'], array('MySqli' => 'MySqli', 'MySql' => 'MySql' ));
                ?>
            </td>
            <td><input type="text" name="key[]" placeholder="Имя БД" title="Псевдоним" value="{$key}"/></td>
            <td><input type="text" name="db[]" placeholder="Имя БД" title="Имя БД" value="{$db[db]}"/></td>
            <td><input type="text" name="login[]" placeholder="Имя пользователя" title="Имя пользователя"
                       value="{$db[login]}"/></td>
            <td><input type="text" name="password[]" placeholder="Пароль" title="Пароль" value="{$db[password]}"/></td>
            <td><input type="text" name="host[]" placeholder="Хост" title="Хост" value="{$db[host]}"/></td>
            <td><a href="/{$moduleFolder}/sxd/index.php?host={$db[host]}&db={$db[db]}&password={$db[password]}&login={$db[login]}"
                   target="dumper_frame" class="inline-block edit" title="Редактировать БД в Supex Dumper"></a>
            </td>
            <td class="delete pointer" onclick="tableRemoveRow(this);" title="Удалить/Оставить">&nbsp;</td>
        </tr>

        {end}
        </tbody>
    </table>
    <p><input type="submit" name="save" value="Сохранить"/></p></form>

    <div class="text-center">
        <iframe src="" id="dumper_frame" width="586" height="462" frameborder="0" class="inline-block m0"></iframe>
    </div>