<div style="font: 11pt Tahoma, Verdana, Segoe, sans-serif; padding: 32px; background-color: #eee; text-align: center;">
    <div style="padding: 32px; max-width: 600px; background-color: #f7f7f7;">
        <img src="https://getoutlines.com/nox-themes/default/images/outlines-logo.png"
             width="130" height="23" style="margin-bottom: 32px;">
        <div>Hi{if isset($name)}, {$name}{end}</div>
        <div>{$date} you have requested a blueprint of:</div>
        <div><span style="background-color: #fff; font-weight: bold;">{$car}</span></div>
        <div style="background-color: #fff; padding: 16px; margin: 32px 0;">
            <div>Follow this link to order:</div>
            <div style="color: #4285f4;"><a href="{$link}">{$title}</a></div>
        </div>
        <div style="background-color: #fff; color: #f00; text-align: left; padding: 16px; margin: 32px 0;">
            <div style="font-weight: bold;">
                <img src="https://getoutlines.com/nox-themes/default/images/warning-icon16.png"
                     width="16" height="16">
                We apologise for long reply.
            </div>
            <div>Due to technical issues we were unable to process your request.</div>
        </div>
        <div style="background-color: #fff; text-align: left; padding: 16px; margin: 32px 0;">
            <div style="font-weight: bold; color: #69ca00;">
                <img src="https://getoutlines.com/nox-themes/default/images/done-icon16.png"
                     width="16" height="16">
                Problems Solved
            </div>
            <br/>
            <div>Now we fixed it and ready to help you.</div>
            <div>Please use Outlines again to get any vector blueprints.</div>
            <br/>
            <div><a href="https://getoutlines.com/">Browse blueprints</a> /
                <a href="https://getoutlines.com/requests">Request any blueprint</a></div>
            <br/>
            <ul style="margin: 0; padding-left: 18px; color: #69ca00;">
                <li>Now you will receive quick reply to your request</li>
                <li>We have improved email notifications delivery</li>
            </ul>
        </div>
        <div style="background-color: #fff; text-align: left; padding: 16px; margin: 32px 0;">
            <div style="font-weight: bold; color: #69ca00;">
                <img src="https://getoutlines.com/nox-themes/default/images/done-icon16.png"
                     width="16" height="16">
                Unsubscribed
            </div>
            <br/>
            <div>This email is <b>the only one</b> and <b>the last</b> you will receive in this case.</div>
            <div>We have <b>unsubscribed</b> you from notifications.</div>
            <br/>
            <div style="font-size: 9pt; color: #a4a4a4;">If you got more than 1 request you will receive single
                notification for each request. Use our website again to re-activate your email notifications.</div>
        </div>
        <div style="margin: 16px 0">---</div>
        <table style="text-align: left; border-collapse: collapse; margin-bottom: 8px; border: none;">
            <tbody>
            <tr>
                <td width="50%" style="font: 11pt Tahoma, Verdana, Segoe, sans-serif; border: none; padding: 8px; vertical-align: top;">
                    <div style="font-weight: bold;">Vector blueprints best for:</div>
                    <br>
                    <ul style="margin: 0; padding-left: 18px;">
                        <li>Vehicle Wrap / Corporate fleet branding / Vinyls and stickers</li>
                        <li>Website pictures, Mobile Apps, Infographics, Presentations</li>
                        <li>3D Modeling and Design</li>
                        <li>Replica design and 3D Print</li>
                        <li>Print, Publishing, Magazines and Posters</li>
                    </ul>
                </td>
                <td width="50%" style="font: 11pt Tahoma, Verdana, Segoe, sans-serif; border: none; padding: 8px; vertical-align: top;">
                    <div style="font-weight: bold;">Accuracy Disclaimer</div>
                    <br>
                    <div>Attention! We <span style="font-weight: bold;">DO NOT</span> offer absolutely exact
                        blueprints. So you CAN NOT use our blueprints for engineering, repair and tuning purposes.
                    </div>
                    <br>
                    <div>If you are not 100% sure please feel free to <a href="mailto:hello@getoutlines.com?
                    subject=Purpose and Accuracy question
                    &body=Hello, Outlines. I want to use your blueprints for [please describe your purpose]. Are your vector blueprints acceptable for my goals? Regards."
                     target="_blank">contact us</a> and ask any questions.
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <div>Thanks, Outlines Team</div>
        <br>
        <div style="font-size: 9pt; color: #a4a4a4;">
            <div>© 2006 - <?=date('Y')?> Outlines. All rights reserved.</div>
            <br>
            <div>
                We use tags here to help you find this email later: blueprints, drawings, vectors, templates, sorry.
            </div>
        </div>
    </div>
</div>