<div style="font: 11pt Tahoma, Verdana, Segoe, sans-serif; padding: 32px; background-color: #eee; text-align: center;">
    <div style="padding: 32px; max-width: 600px; background-color: #f7f7f7;">
        <img src="https://getoutlines.com/nox-themes/default/images/outlines-logo.png"
             width="130" height="23" style="margin-bottom: 32px;">
        <div>Hi{if isset($name)}, {$name}{end}</div>
        <div>You have requested a blueprint of:</div>
        <div><span style="background-color: #fff; font-weight: bold;">{$car}</span></div>
        <div style="background-color: #fff; padding: 32px 16px; margin: 32px 0;">
            <div style="font-weight: bold;">
                <img src="https://getoutlines.com/nox-themes/default/images/confirm-email-icon.png"
                     width="16" height="16">
                Follow this link to order:
            </div>
            <div style="color: #4285f4;"><a href="{$link}">{$title}</a></div>
        </div>
        <div>Press “Make pre-payment” button to proceed your order and get vector blueprints.
            You could add some <span style="font-weight: bold;">options</span> such as:
        </div>
        <br>
        <table style="margin: 16px 0; text-align: left; border-collapse: collapse; background-color: #fff; border: none;">
            <tbody>
            <tr>
                <td style="color: #ff9d3a; border: none; padding: 16px; vertical-align: middle;">
                    &#9733;<span style="font: 11pt Tahoma, Verdana, Segoe, sans-serif; font-size: 9pt;">POPULAR</span></td>
                <td style="font: 11pt Tahoma, Verdana, Segoe, sans-serif; color: #ff9d3a; font-size: 12pt; font-weight: bold; border: none; padding: 16px; vertical-align: middle; white-space: nowrap">
                    Add Top View</td>
                <td style="font: 11pt Tahoma, Verdana, Segoe, sans-serif; border: none; padding: 16px;">
                    Our standard blueprints has Front-Side-Rear views.
                    Order this option and get additional Top View for your blueprints.</td>
            </tr>
            </tbody>
        </table>
        <div style="margin: 16px 0">---</div>
        <table style="text-align: left; border-collapse: collapse; margin-bottom: 8px; border: none;">
            <tbody>
            <tr>
                <td width="50%" style="font: 11pt Tahoma, Verdana, Segoe, sans-serif; border: none; padding: 8px; vertical-align: top;">
                    <div style="font-weight: bold;">Vector blueprints best for:</div>
                    <br>
                    <ul style="margin: 0; padding-left: 18px;">
                        <li>Vehicle Wrap / Corporate fleet branding / Vinyls and stickers</li>
                        <li>Website pictures, Mobile Apps, Infographics, Presentations</li>
                        <li>3D Modeling and Design</li>
                        <li>Replica design and 3D Print</li>
                        <li>Print, Publishing, Magazines and Posters</li>
                    </ul>
                </td>
                <td width="50%" style="font: 11pt Tahoma, Verdana, Segoe, sans-serif; border: none; padding: 8px; vertical-align: top;">
                    <div style="font-weight: bold;">Accuracy Disclaimer</div>
                    <br>
                    <div>Attention! We <span style="font-weight: bold;">DO NOT</span> offer absolutely exact
                        blueprints. So you CAN NOT use our blueprints for engineering, repair and tuning purposes.
                    </div>
                    <br>
                    <div>If you are not 100% sure please feel free to <a href="mailto:hello@getoutlines.com?
                    subject=Purpose and Accuracy question
                    &body=Hello, Outlines. I want to use your blueprints for [please describe your purpose]. Are your vector blueprints acceptable for my goals? Regards."
                     target="_blank">contact us</a> and ask any questions.
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <div>Thanks, Outlines Team</div>
        <br>
        <div style="font-size: 9pt; color: #a4a4a4;">
            <div>© 2006 - <?=date('Y')?> Outlines. All rights reserved.</div>
            <br>
            <div>
                We use tags here to help you find this email later: blueprints, drawings, vectors, templates.
            </div>
        </div>
    </div>
</div>