<div style="font: 11pt Tahoma, Verdana, Segoe, sans-serif; padding: 32px; background-color: #eee; text-align: center;">
    <div style="padding: 32px; max-width: 600px; background-color: #f7f7f7;">
        <img src="https://getoutlines.com/nox-themes/default/images/outlines-logo.png"
             width="130" height="23" style="margin-bottom: 32px;">
        <div>Welcome to Outlines{if isset($name)}, {$name}{end}!</div>
        <div>Thanks for your registration.</div>
        <div style="background-color: #fff; padding: 32px 16px; margin: 32px 0; text-align: left;">
            <div style="font-weight: bold;">
                <img src="https://getoutlines.com/nox-themes/default/images/confirm-email-icon.png"
                     width="16" height="16">
                Now your best step is:</div>
            <div style="color: #4285f4;"><a href="https://getoutlines.com/search">Search Blueprints</a></div>
            <div style="font-size: 9pt; color: #a4a4a4;">Use search to find any blueprints quickly.</div>
            <br/>
            <div>Follow simple tips to get started:</div>
            <br/>
            <div style="font-weight: bold;">Get Premium Blueprints</div>
            <br/>
            <div>Vector Drawings<br/>
                Now you can purchase and download our ready editable
                <a href="https://getoutlines.com/vector-drawings">Vector Blueprints</a> available in Premium Quality.
            </div>
            <br/>
            <div style="font-size: 9pt; color: #a4a4a4;">Some items marked with PREPAY tag are approved to be made after your pre-order.
                Make payment and get this vector blueprint in a few work days.
            </div>
            <br/>
            <div>Request any blueprint<br/>
                <a href="https://getoutlines.com/requests">Request</a> the blueprint you need and we make a prepay
                quotation for you. We will estimate price and approve a feasibility to make it.
            </div>
            <br/>
            <div style="font-weight: bold;">Get Free Blueprints</div>
            <div>Congratulations! Now you have unlimited downloads. Download free blueprints in bitmap raster format.
                Go to <a href="https://getoutlines.com/blueprints">Free Blueprints</a> page.
            </div>
        </div>
        <div>
            If you have any questions feel free to contact us: reply to this email or write to
            <a href="mailto:hello@getoutlines.com">hello@getoutlines.com</a>.
        </div>
        <br>
        <div>Thanks, Outlines Team</div>
        <br>
        <div style="font-size: 9pt; color: #a4a4a4;">
            <div>© 2006 - <?=date('Y')?> Outlines. All rights reserved.</div>
            <br>
            <div>
                We use tags here to help you find this email later: blueprints, drawings, vectors, templates.
            </div>
        </div>
    </div>
</div>