<div style="font: 11pt Tahoma, Verdana, Segoe, sans-serif; padding: 32px; background-color: #eee; text-align: center;">
    <div style="padding: 32px; max-width: 600px; background-color: #f7f7f7;">
        <img src="https://getoutlines.com/nox-themes/default/images/outlines-logo.png"
             width="130" height="23" style="margin-bottom: 32px;">
        <div>Hi{if isset($name)}, {$name}{end}</div>
        <br/>
        <div style="color: #ff9d3a;">You have requested a blueprint of:</div>
        <div><span style="background-color: #fff; font-weight: bold; color: #ff9d3a;">{$car}</span></div>
        <div style="background-color: #fff; padding: 32px; margin: 16px 0; text-align: left;">
            <div style="font-weight: bold;">
                <img src="https://getoutlines.com/nox-themes/default/images/confirm-email-icon.png"
                     width="16" height="16">
                Unfortunately we can’t produce its vector blueprints
            </div>
            <br>
            <div>We have estimated your request and solved that it is not feasible now to make this blueprint
                in Premium vector quality.</div>
        </div>
        <div style="background-color: #fff; padding: 32px; margin: 16px 0; text-align: left;">
            <div style="font-weight: bold;">Why is it happened and what to do?</div>
            <br>
            <div>We tried to collect some of the possible reasons:</div>
        </div>
        <table style="text-align: left; border-collapse: collapse; margin-bottom: 8px; border: none;">
            <tbody>
            <tr>
                <td width="50%" style="border: none; padding: 16px; vertical-align: top; font: 11pt Tahoma, Verdana, Segoe, sans-serif; background-color: #fff; ">
                    <ul style="margin: 0; padding-left: 18px; font-weight: bold;">
                        <li>Rare Vehicle / Lack of Data</li>
                    </ul>
                    <br>
                    <div>This vehicle is so rare that we haven’t found any acceptable data, such as dimensions,
                        blueprints, photos or tech documentations.
                    </div>
                    <br>
                    <div style="font-size: 9pt; color: #a4a4a4;">For example, it could be 1899 Peugeot Coach which was
                        produced in quantity of 1 unit and lost 80 years ago. Or some custom racing team’s formula car,
                        or concept car shown once, or cinema vehicle or simply vehicle with a lack of information.
                    </div>
                    <br>
                    <div style="font-weight: bold;">Solution:</div>
                    <div>Find some blueprints or at least acceptable photos on the web, scan your owner’s manual and
                        brochures or make projection photos (like front, rear, side view) of your own vehicle by yourself.
                    </div>
                    <br>
                    <div><a href="mailto:hello@getoutlines.com?subject=Additional information about request
                    &body=Hello, Outlines. I want to share some additional data about my requested vehicle [please attach any pictures, photos and scans]. Is it feasible to make a vector blueprint of this vehicle now? Regards."
                            target="_blank">Contact us</a> and attach your pictures to an email.
                    </div>
                </td>
                <td style="border: none; padding: 8px;"></td>
                <td width="50%" style="border: none; padding: 16px; vertical-align: top; font: 11pt Tahoma, Verdana, Segoe, sans-serif; background-color: #fff; ">
                    <ul style="margin: 0; padding-left: 18px; font-weight: bold;">
                        <li>Vehicle from the Future</li>
                    </ul>
                    <br>
                    <div>This vehicle is not yet in production.</div>
                    <br>
                    <div style="font-size: 9pt; color: #a4a4a4;">For example, you requesting to make 2025 Tesla Model
                        Whatever which is only planned to be made in few years.
                    </div>
                    <br>
                    <div style="font-weight: bold;">Solution:</div>
                    <div>In this case you could only wait till the real vehicle will be done and request one more time.
                        Thank you.
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <div>Some other possible reasons are that <span style="color: #ff9d3a;">this request is too general.
            So please try to make it specific. For example we can’t make “Ford blueprint request” because
            it is too general, but we can produce “Ford Focus blueprint request”.</span></div>
        <br/>
        <div><span style="color: #ff9d3a;">In some cases</span> we currently don’t produce this kind of blueprints
            (e.g. StarTrek Spaceship) or this vehicle does not exist.
        </div>
        <br>
        <div>If you have any other strong reasons or beliefs that it is possible to make this vector blueprint please
            contact us: <a href="mailto:hello@getoutlines.com" target="_blank">hello@getoutlines.com</a>.
        </div>
        <br>
        <div>Thanks, Outlines Team</div>
        <br>
        <div style="font-size: 9pt; color: #a4a4a4;">
            <div>© 2006 - <?=date('Y')?> Outlines. All rights reserved.</div>
            <br>
            <div>
                We use tags here to help you find this email later: request, requested, quote, quotation, estimation,
                blueprints, drawings, vectors, templates.
            </div>
        </div>
    </div>
</div>