<div style="font: 11pt Tahoma, Verdana, Segoe, sans-serif; padding: 32px; background-color: #eee; text-align: center;">
    <div style="padding: 32px; max-width: 600px; background-color: #f7f7f7;">
        <img src="https://getoutlines.com/nox-themes/default/images/outlines-logo.png"
             width="130" height="23" style="margin-bottom: 32px;">
        <div>Hi{if isset($name)}, {$name}{end}</div>
        <div>Top view for your blueprint is ready.</div>
        <div style="background-color: #fff; padding: 32px 16px; margin: 32px 0;">
            <div style="font-weight: bold;">
                <img src="https://getoutlines.com/nox-themes/default/images/confirm-email-icon.png"
                     width="16" height="16">
                Download updated blueprint with extra options:
            </div>
            <div style="color: #4285f4;"><a href="{$link}">{$title}</a></div>
        </div>
        <div>Or go to <a href="https://getoutlines.com/users/downloads">My Downloads</a>
            to see all your purchased and prepaid items.
        </div>
        <div style="margin: 16px 0">---</div>
        <table style="text-align: left; border-collapse: collapse; margin-bottom: 8px; border: none;">
            <tbody>
            <tr>
                <td width="50%" style="font: 11pt Tahoma, Verdana, Segoe, sans-serif; border: none; padding: 8px; vertical-align: top;">
                    <div style="font-weight: bold;">Problems with blueprints:</div>
                    <br>
                    <div>Please <a href="mailto:hello@getoutlines.com?subject=Problems with my item
                    &body=Hello, Outlines. I have some problems with my item. [Please describe what kind of problems do you have?] Please help me to fix it. Regards."
                     target="_blank">Contact Us</a>
                      if you faced with following troubles using your item:
                    </div>
                    <br>
                    <ul style="margin: 0; padding-left: 18px;">
                        <li>Can’t download files online</li>
                        <li>Wrong sizes and measurements</li>
                        <li>Mistakes in details and poor quality</li>
                        <li>Accuracy and precision issues</li>
                        <li>Incompatible file formats / Can’t be opened in your Software</li>
                    </ul>
                </td>
                <td width="50%" style="font: 11pt Tahoma, Verdana, Segoe, sans-serif; border: none; padding: 8px; vertical-align: top;">
                    <div style="font-weight: bold;">Refund Policy:</div>
                    <br>
                    <div>Your positive experience is our focus. We are ready to solve your questions:
                        correct and fix all the blueprint issues. At any time we accept refunds. Please read our
                        <a href="https://getoutlines.com/refund-policy">Refund Policy</a>.
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <div>Thanks, Outlines Team</div>
        <br>
        <div style="font-size: 9pt; color: #a4a4a4;">
            <div>© 2006 - <?=date('Y')?> Outlines. All rights reserved.</div>
            <br>
            <div>
                We use tags here to help you find this email later: blueprints, drawings, vectors, templates.
            </div>
        </div>
    </div>
</div>