<h2>Смена пароля</h2>
<br/>
{if $change}
Пароль успешно изменён! На Ваш email отправленно уведомление.
{else}
<form action="{$url}" method="POST">
    <div class="form-values w300 big">
        <label>Ваш Email: <span>{$user[email]}</span></label>
        <label>Новый пароль: <span><input type="password" name="password" value="" id="password"/></span></label>
        <label><span class="very-small"><input name="show_password" type="checkbox"
                                               onchange="togglePassword($(this).attr('checked')=='checked', '#password');"/> Показать пароль</span></label>

        <label><span><input type="submit" name="submit" class="button" value="Сохранить"/></span></label>
    </div>
</form>
{end}