<h1>[`Registration`]</h1>
<form action="{$url}#form" method="post" class="label-span" id="form">

    {if isset($error)}<div class="error">{$error}</div>{end}

    <label><span class="label">[`Name`]</span> <span class="input"><input type="text" name="name" required="required" value="{$new[name]}" /></span></label>

    <label><span class="label">[`Email`]</span> <span class="input"><input type="email" name="email"  value="{$new[email]}" /></span></label>

    <label><span class="label">[`Password`]</span> <span class="input"><input type="password" name="password"  value="" /></span></label>

    <label><span class="label"></span> <span class="input"><input name="submit" type="submit" value="[`Submit`]" /></span></label>
</form>