<h1>[`Profile`]</h1>
<form action="{$url}#form" method="post" class="label-span" id="form">

    {if isset($error)}<div class="error">{$error}</div>{end}

    <label><span class="label">[`Name`]</span> <span class="input"><input type="text" name="name" required="required" value="{$new[name]}" /></span></label>

    <label><span class="label">[`Email`]</span> <span class="input"><input type="email" name="email"  value="{$new[email]}" /></span></label>

    <label><span class="label">[`New password`]</span> <span class="input"><input type="password" name="password"  value="" /></span></label>

    <label><span class="label"></span> <span class="input"><input name="submit" type="submit" value="[`Submit`]" /></span></label>
</form>

{if $orders}
<h1>[`Orders`]</h1>

<table class="ruler w100p">
    <thead>
    <tr>
        <th>[`Date`]</th>
        <th>[`Name`]</th>
        <th>[`Service`]</th>
        <th>[`Payment`]</th>
        <th>[`Status`]</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {foreach $orders as $ar}
    <tr>
        <td class="w150">{noxDate::toDateTime($ar[date])}</td>
        <td><a href="{$baseUrl}/order/info/{$ar[id]}" title="[`Info`]">{$ar[order_name]}</a></td>
        <td>{$services[$ar[service_id]][title]}</td>
        <td class="text-center w120">{if $ar[paid_status]=='waiting'}<a href="<?php $services[ $ar['service_id'] ]['prices'][ $ar['service_price'] ]['pay_link']; ?>" class="blue-button">[`PAY`]</a>{else}Paid{end}</td>
        <td class=" text-center w120">
            {if $ar[status]=='accepted'}
            [`Sent to editors`]
            {elseif $ar[status]!='finish'}
            {if $ar[paid_status]=='waiting'}[`Waiting payment...`]{else}[`In process...`]{end}
            {else}[`Finished`]{end}</td>
        <td class="w100 text-center"><a href="{$baseUrl}/order/info/{$ar[id]}" title="[`Info`]">[`Info`]</a> | <a href="{$baseUrl}/order/delete/{$ar[id]}">[`Delete`]</a></td>
    </tr>
    {end}
    </tbody>
</table>
{end}


{if $orderStat[$userId]}
    <h1>[`Partnership`]</h1>

    <table class="ruler w200">
        <tbody>
        <tr>
            <th class="text-right">[`Visitors`]:</th>
            <td class="text-center w50p">{if $visitStat[$userId]}{$visitStat[$userId]}{else}-{end}</td>
        </tr>
        <tr>
            <th class="text-right">[`Users`]:</th>
            <td class="text-center">{if $userStat[$userId]}{$userStat[$userId]}{else}-{end}</td>
        </tr>
        <tr>
            <th class="text-right">[`Orders`]:</th>
            <td class="text-center">{if $orderStat[$userId][count]}{$orderStat[$userId][count]}{else}-{end}</td>
        </tr>
        <tr>
            <th class="text-right">[`Payments`]:</th>
            <td class="text-center">{if $orderStat[$userId][partner_price]}${$orderStat[$userId][partner_price]}{else}-{end}
            </td>
        </tr>
        </tbody>
    </table>
{end}