<form action="{$url}" method="POST">
    <input type="hidden" name="id" value="{$ar[id]}"/>

    <p><span><input type="submit" name="save" value="Сохранить"/></span></p>

    <p><label>Имя группы:</label> <span><input type="text" title="Имя группы" placeholder="Имя группы" name="new[name]"
                                          value="{$ar[name]}" required="required"/></span></p>

    <h3>Права группы</h3>
    <ul class="tree">
        {foreach $modules as $moduleName=>$module}
        {if !isset($module[rights])}{continue}{end}
        <li><strong>{$module[title]}</strong>
            <ul class="tree">
                {foreach $module[rights] as $key=>$desc}
                <li><input type="hidden"
                           name="rights[{$moduleName}][{$key}]" value="0"/>
                    <label><input type="checkbox"
                                  name="rights[{$moduleName}][{$key}]"
                                  value="1"
                        <?php if (isset($rights[$moduleName][$key])) echo 'checked="checked"'; ?>
                    />{$desc}</label></li>
                {end}
            </ul>
        </li>
        {end}
    </ul>
    <p><span><input type="submit" name="save" value="Сохранить"/></span></p>
</form>